[2020-10-17 04:33] kothariji opened #1 "Favicon not Fixed. Please put a valid Favicon,"
Still, there is a react favicon on the website. Fix that.

[2020-10-24 09:51] #1 closed, assigned to Nishant127

[2020-10-25 10:28] kothariji opened #2 "Add MUI icon on Appbar Headings"
Please add the Miui icons in front of the App Bar. Also, if you see are any icons wrong. Please update.

[2020-10-25 10:29] kothariji opened #3 "Error in width Prop in SyntaxEditor"
There is a js error in console. Please Resolve

[2020-10-25 10:30] kothariji opened #4 "Convert ThinkPad from cc to fc"
Convert ThinkPad from cc to FC , and name it as SyntaxPad.

[2020-10-25 10:32] kothariji opened #5 "Issue of resize when a user zoom in"
Please fix the width and height according to user zoom level.

[2020-10-26 17:43] #4 closed, assigned to akash-salvi

[2020-10-26 18:15] #5 closed, assigned to akash-salvi

[2020-10-27 18:36] #3 closed, assigned to Nishant127

[2020-11-17 13:16] kothariji opened #6 "Favicon needs to be updated with new logo"
@Nishant127  please update the favicons

[2020-11-17 13:18] kothariji opened #7 "Color Theme needs to be changed"
old color theme needs to be changed with new one

[2020-11-17 13:25] kothariji opened #8 "Create random room numbers"
Add a feature to generate unique room number when clinked on create room

[2020-11-19 12:41] #7 closed, assigned to kothariji, akash-salvi

[2020-11-20 07:14] #8 closed, assigned to akash-salvi

[2020-11-20 11:09] #6 closed, assigned to Nishant127

[2020-11-27 18:59] #2 closed, assigned to Nishant127

[2020-11-30 05:19] Abg4real opened #10 "Cross browser CSS differences"
Hi
I checked out your project and the concept is really cool!
While I was trying the room feature I noticed that the font size section of the editor seems to be overlapping the right side section in my 14" laptop. (1366x768px).
![image](https://user-images.githubusercontent.com/55308761/100571645-a2880200-32f9-11eb-94b4-b4e0925f6995.png)

[2020-12-01 07:25] kothariji commented on #10
@Abg4real  Thank you 🙏 👍
We will definitely look forward to resolve the issue in the upcoming release.

[2020-12-06 14:41] rsilvr opened #12 "Room only shows updated content after first change"
Hello. Great project you have here!
Doing some testing with the app I found this minor issue: by the time an user enter a room, he always sees the default code in C++ in the editor, regardless if another user already made changes to it. Just after a new change is done, the code in the editor is updated for the second user.

![first_user](https://user-images.githubusercontent.com/5250902/101283179-

[2020-12-18 17:55] AmeyaJain-25 commented on #10
Hi @kothariji ,
If allowed, can I take this issue or it's resolved
If this issue isn't resolved,
Please allow me to resolve this issue...

[2020-12-19 04:30] kothariji commented on #10
@AmeyaJain-25
Please go ahead and resolve that issue.
Just create a PR once done ..and don't forget to add comments so that it would be easy for others to understand 😉 .

[2020-12-19 13:28] AmeyaJain-25 commented on #10
Thanks

[2020-12-19 14:23] AmeyaJain-25 commented on #10
I wanted to confirm that is it's okay if I bring the input bars below the syntaxMeets logo.
It's responsive in all the tabs.

When its width is greater than 1385px, then they will remain at the same place, and if it's less, then they will be coming down.

![image](https://user-images.githubusercontent.com/66305085/102691490-fc158980-4232-11eb-9d45-beb3a19de0c6.png)
![image](https://user-images.git

[2020-12-19 14:23] AmeyaJain-25 commented on #10
Or, the input bars should be there in one row only..?

[2020-12-19 17:50] kothariji commented on #10
@AmeyaJain-25
I think that would work for now...later on, we can look deeper into that.
So I am assigning this issue to you.
Create a PR.

[2020-12-21 08:58] AmeyaJain-25 commented on #10
Made the PR #14

[2020-12-21 19:55] kothariji commented on #10
Yes, I checked and it's working as expected. Issue fixed 🛠️.

[2020-12-21 19:55] #10 closed

[2021-02-19 04:30] jainaayush01 opened #16 "Add Default Code for each Language"
PS: I would like to work on this issue.

[2021-02-19 04:51] kothariji commented on #16
Hi @jainaayush01 , thank you for taking out the time to create this issue.

I've assigned this to you. Please go ahead and make a PR.
Happy Coding🚀

[2021-02-19 17:19] jainaayush01 commented on #16
Okay

[2021-02-21 04:14] jainaayush01 commented on #16
@kothariji I am having my exams till 13th March and  I need to prepare for that. If there is some deadline or you need this feature earlier you can go ahead and assign it to anyone else.
Do let me know.
Regards,
Aayush

[2021-02-23 17:23] kothariji commented on #16
No issues @jainaayush01. Focus on exams and after that you contribute 😄
btw All the best for exams 👍 🚀 😉

[2021-02-24 04:56] jainaayush01 commented on #16
Thank you :)

[2021-03-06 18:36] kothariji opened #17 "Add a leave button to Exit from meet 👋"
## Description
Currently, there is no option to leave the meeting. So we just need a `leave meet` button(probably in deep red color)  so that anyone can exit from the meet, and redirect to the home page.

[2021-03-06 18:40] kothariji opened #18 "Adding Login/Signup 🔥 functionality"
## Description
To add login functionality.
Preferably we can go for firebase authentication with google.

[2021-03-06 18:43] kothariji opened #19 "Displaying list of Participants in Meeting 🧑‍🤝‍🧑🧑‍🤝‍🧑"
## Description
Similar to the `chat` side drawer, there should be a `participants list` side drawer, where we can see the list of participants currently in the meeting.

[2021-03-06 18:48] kothariji opened #20 "Enabling Mic/Audio Feature 🎙️"
## Description
There should be a `microphone button` 🎙️  through which a user can connect with other members present in meet using **voice**.

[2021-03-06 18:55] kothariji opened #21 "Enable Video Call Feature 📹 👨‍🦰"
## Description
To add a video conferencing feature, to the meeting so that everybody can virtually interact with each other.

[2021-03-06 19:27] kothariji opened #22 "Collaborative SyntaxPad with socket.io 🎨"
## Description
To make SyntaxPad work collaboratively, similar to SyntaxEditor so that user can share designs with each others

[2021-03-06 19:35] kothariji opened #23 "Notify users whenever a new message is recieved 🔔"
Description
Whenever a new message is received, the user should get a notification, either a ting audio, or a red dot on top right corner of chat button.
For eg:
![image](https://user-images.githubusercontent.com/60866749/110218723-41b42b00-7ee1-11eb-9ae7-faad3eff1c19.png)

[2021-03-06 19:43] kothariji opened #24 "Add an Emoji Picker in Chat Drawer🚀🔥😇"
## Description
To add an emoji picker tool in the chat drawer so that user can easily send emoji.
Reference
![image](https://user-images.githubusercontent.com/60866749/110218921-55ac5c80-7ee2-11eb-88b0-4ccc85e8e712.png)

[2021-03-06 19:47] kothariji opened #25 "Add a Footer to the application 📃"
## Description
A footer should include SyntaxMeets Logo, name(SyntaxMeets), GitHub project link and other stuff.

[2021-03-06 19:53] kothariji opened #26 "Customizations in SyntaxPad 🖌️🎨"
## Description
To add Customisation options in syntaxpad like

- increase/decrease brush size.
- eraser
- adding lines/curves
- adding shapes like circle/ box.
- changing background-color

[2021-03-07 17:16] maneprajakta opened #27 "Adding GitHub issue templates"
Hi :)
Right now there is no issue template for Project.
I think we should take advantage of GitHub’s support for multiple issue templates.

You can see here :
![64684565-3c595a00-d47d-11e9-8ea4-589cffa16375](https://user-images.githubusercontent.com/57425995/109375319-d6b39480-78e1-11eb-9a72-3c14118cde19.png)

I think right now two templates for creating an issue will do great.
1.For bug report
2.

[2021-03-07 17:17] maneprajakta commented on #27
I would like to contribute to this issue as a part of gssoc 2021.

[2021-03-08 03:52] AishwaryaKaranth commented on #24
Can I work on this issue as part of GSSOC'21 ?

[2021-03-08 05:32] kothariji commented on #27
Hi @maneprajakta, First of all, thank you so much for taking out the time to create this issue.

Sure for now we can have two templates:-
1.For bug report 🐛
2.For feature request ⭐

Please go forward to add an ISSUE_TEMPLATE to the project.

Also,
Keep Contributing 🙏🔥

[2021-03-08 05:38] maneprajakta commented on #27
@kothariji  Sure!

[2021-03-08 05:38] kothariji commented on #24
Hi @AishwaryaKaranth, First of all, thank you so much for taking out the time to create this issue.

Yes,  Please go forward to work on this issue. I am assigning this Issue to you 👍

Also, you can take reference from
- https://www.npmjs.com/package/emoji-picker-react
-  https://codesandbox.io/s/m3q0kk1q9j
- https://github.com/missive/emoji-mart
Keep Contributing 🙏🔥

[2021-03-08 06:25] WaderManasi commented on #25
Hi,
I would to contribute on this issue as a part of gssoc'21.

[2021-03-08 07:02] Devenkapoor7303 commented on #17
Can I work on this issue as a Part of GSSOC 21

[2021-03-08 07:25] kothariji commented on #27
PR #28 fixes this Issue. 👍

[2021-03-08 07:25] #27 closed

[2021-03-08 07:35] kothariji commented on #25
Hi @WaderManasi, First of all, thank you so much for taking out the time to work on this issue.

Definitely, Please go forward to work on this issue. I am assigning this Issue to you 👍

Few things to keep in mind
1. Maintain the color theme used throughout the project. 👉 **[Color Theme]( https://coolors.co/000a29-0077b6-00b4d8-ffd500-f3f7f7-ffffff)** 🎨
2. Need a brand logo and brand name ✅
3. Need

[2021-03-08 07:42] kothariji commented on #17
Hi @Devenkapoor7303 , First of all, thank you so much for taking out the time to work on this issue.

Definitely, Please go forward to work on this issue. I am assigning this Issue to you 👍
Few Suggestions from my end:
- button background color deep red.
- leave button should be placed on the rightmost part of the navbar(after about us). It will look nice.
![image](https://user-images.githubuserco

[2021-03-08 08:14] WaderManasi opened #29 "Rules for contributing in the open source project (for beginners)"
Adding detailed steps regarding **Contribution to Open Source Projects :  AS A BEGINNER** in contributing.md file would help the newbies to  get acquainted with the rules of contributing in open source projects.

[2021-03-08 08:21] WaderManasi commented on #29
@kothariji if it is valid,
I would like to work on the mentioned issue.

[2021-03-08 09:37] Vishv07 commented on #26
Well. I feel React-canvas-draw isnt good choice.  [Though it looks good🔥⚡]
It has very less features and adding some Customisation in this will be bit complex.

Here are some demos you guys should have a look

1) http://mikhail-angelov.github.io/react-whiteboard/

2) https://react-drawing-board-demo-dilidili.vercel.app/

3) https://whiteboard-socketio.herokuapp.com/  [Look at this , this one is Co

[2021-03-08 09:44] Vishv07 opened #30 "Long chat message breaks div"
When the user types a long message. It simply breaks⚡ down the div and the user cant see the outside part of a message.

![image](https://user-images.githubusercontent.com/37216460/110303530-80043400-8020-11eb-8e20-96d52c55807b.png)

🔨Fixes:

1) can be fixed with minor CSS changes🧨

2) But if you guys planning to change Chat UI/UX then we can wait and can be implemented in the new Design.

[2021-03-08 09:51] Vishv07 commented on #25
How about first making Figma/Adobe Xd design for any new design and then write code for it. @kothariji
It can save much time and will be useful in the future while making new components as well.

[2021-03-08 10:09] Vishv07 opened #31 "Compiling Model fix"
Can we remove this
![image](https://user-images.githubusercontent.com/37216460/110306828-46352c80-8024-11eb-9213-95246a862a2c.png)

 🔨  It looks weird. we can keep it simple by just Placing loading in the Run Button while it's Executing the Code.

[2021-03-08 10:21] Devenkapoor7303 commented on #17
Okay I will start working on this issue from today onwards ☺️

[2021-03-08 12:47] kothariji commented on #17
Sounds Great🔥

[2021-03-08 12:53] murtaza1112 commented on #19
Hi , I am interested in resolving in this issue . can I work on this issue as part of GSSOC'21 ?
Discord UserName : murtaza1112#4269

[2021-03-08 12:54] kothariji commented on #25
@Vishv07 agree with your point. So @WaderManasi we have a basic design prototype and then we can start working on the code part.
So @WaderManasi can you design a basic layout in Figma/Xd/Canva/Excalidraw so that Once we fix the design, we can work on it. Otherwise directly working on code and then we will do changes.. and then again is some changes are there.. it would be a tedious task.

So it's

[2021-03-08 13:21] kothariji commented on #26
True. there are limitations in react-canvas-draw. We aren't provided with much functionalities.

These suggestions look simply amazing.
We we definitely look forward into those applications.
If you wish to work on this issue, let me know for the same 🙌🔥

[2021-03-08 13:41] kothariji commented on #29
I agree with your point. One should get a complete guide from cloning the repo, to working on a branch and then finally generating a PR.
Please go forward to work on CONTRIBUTING.md. I am assigning this issue to you👍.

Few things you can add
1. You can mention the [ISSUE_TEMPALTES](https://github.com/kothariji/SyntaxMeets/tree/master/.github/ISSUE_TEMPLATE) for [BUG_REPORT](https://github.com/koth

[2021-03-08 13:51] kothariji commented on #31
Yes, we can think over it. Can you show some examples so that it would be more clear 😊

[2021-03-08 13:53] ShrutiJha31 commented on #23
I would like to take up this issue under gssoc21.

[2021-03-08 14:01] kothariji commented on #30
Hi @Vishv07, First of all, thank you so much for taking out the time to create this issue🚀

Great 💯. I was unaware of that Issue.
As of now, we don't have any plan for changing the UI of the Chat much.
So I think we can work on this issue.

Please let me know if you wish to work on the same.

[2021-03-08 14:08] kothariji commented on #23
Hi @ShrutiJha31, First of all, thank you so much for taking out the time to work on this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-03-08 14:18] kothariji commented on #19
Hi @murtaza1112 , First of all, thank you so much for taking out the time to work on this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

Few things I wish to add 📌
1. Try to add the profile icon(similar to the chat section), so that in the future if a user adds his image, we can display it there. 🖼️
2. Also it would be great if you can add roles

[2021-03-08 14:42] bhavyashukla16 commented on #18
can u assign this issue to me for gssoc'21?

[2021-03-08 14:49] RituCs commented on #18
Hello sir, I would like to work with this issue .Is it open?

[2021-03-08 15:52] Shubham-Kumar-2000 commented on #12
Can You assign me this under GSSOC 21?

I was thinking to do this by implementing redis.

[2021-03-08 15:54] sayna3311 commented on #18
I would love to work on this issue, under GSSoC'21. Can you assign this to me?

[2021-03-08 16:13] WaderManasi commented on #25
Sure! @kothariji,
Initially, I will create a basic design prototype mostly in Figma/Canva and will let you know.

[2021-03-08 17:13] kotwani2883 commented on #21
Kindly assign this to me as a part of GSSOC'21.

[2021-03-08 17:19] kotwani2883 commented on #20
Kindly assign this to me as a part of GSSOC'21

[2021-03-08 18:30] #29 closed

[2021-03-08 18:45] kothariji commented on #25
Sure 🙌

[2021-03-08 18:49] kothariji commented on #12
Hi @Shubham-Kumar-2000 , First of all, thank you so much for taking out the time to work on this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

Though I am not much familiar with Redis, but would love to explore it, so try your best out 🙌

And last but not least,
Keep Contributing 🙏🔥

[2021-03-08 18:59] kothariji commented on #20
Hi @kotwani2883  , First of all, thank you so much for taking out the time to work on this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-03-08 18:59] kothariji commented on #21
Hi @kotwani2883, First of all, thank you so much for taking out the time to work on this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-03-08 19:02] RituCs commented on #22
Hi,I would like to contribute on this issue .Please assign me the issue and give me some details about that.

[2021-03-08 19:26] rohitsigar commented on #22
@Nishant127 @Akash-Salvi @kothariji Please assign this task to me, I am selected as a Mentee at GirlScript Summer of Code and this project really excites me so I would love to contribute to such an amazing repo and I have also knowledge of stacks related to this project.

[2021-03-08 19:41] parulsurana commented on #18
Hey @kothariji  as I am selected as a Mentee at GirlScript Summer of Code  and this project really excites me and I've previously done same task before in one of my project, you can see it here [Signup Page using Firebase](https://github.com/parulsurana/Classroom/blob/master/src/components/Signup.js). So I would love to contribute in this issue, can you please assign this to me?

[2021-03-08 19:53] kotwani2883 commented on #21
Kindly clarify the following-
1.Do I need to add a button,on clicking which the user can enable video calling feature?If yes in the navbar or somewhere else
2.The functionality is to implemented using webrtc or anything else is suggested.
Thanks.

[2021-03-09 03:24] Vishv07 commented on #30
Okay. I'll open the PR by today Itself.

[2021-03-09 03:25] sahildotexe commented on #25
Hey !! I am a participant of GSSOC'21 , can you assign this issue to me?

[2021-03-09 03:26] Vishv07 commented on #25
👍 Great

[2021-03-09 03:26] sahildotexe commented on #17
Hey !! I am a participant of GSSOC'21 , can you assign this issue to me?

[2021-03-09 03:30] Vishv07 commented on #21
Webrtc would be nice.
But it would be better If we can implement or roll out this feature after the login/signup module.

[2021-03-09 05:02] Vishv07 commented on #31
I want to work on this issue as a part of GSSOC'21

[2021-03-09 05:04] Vishv07 commented on #26
I want to work on this issue as a part of GSSOC'21

[2021-03-09 05:18] micksharma commented on #26
I want to work on this issue.

[2021-03-09 05:19] micksharma commented on #22
Hi I want to work on this issue.

[2021-03-09 05:20] micksharma commented on #18
I want to work on this issue.

[2021-03-09 05:23] Vishv07 commented on #30
#33 Opend

[2021-03-09 05:39] Akash-Salvi commented on #18
Hi @bhavyashukla16, First of all, thank you so much for taking out the time to work on this issue.

Definitely🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

Few points to note:
- Login/Signup with firebase is preferred.
- Don't upload your firebase config keys to the PR(or any other keys)
- Rest open for endless possibilities 💯🔥

And last but not least,
Keep Contri

[2021-03-09 05:42] Akash-Salvi commented on #18
Hey, @micksharma @RituCs @sayna3311 @parulsurana, thank you for showing interest 🚀

We appreciate🙏 your dedication and efforts towards our project, but according to our [**contributing guidelines**](https://github.com/kothariji/SyntaxMeets/blob/master/CONTRIBUTING.md), Issues are assigned on the **First Come First Serve** basis.

Anyways feel free to check out other **unassigned issues**, or creat

[2021-03-09 05:46] Akash-Salvi commented on #17
Hey, @sahildotexe, thank you for showing interest 🚀

We appreciate🙏 your dedication and efforts towards our project, but according to our [**contributing guidelines**](https://github.com/kothariji/SyntaxMeets/blob/master/CONTRIBUTING.md), Issues are assigned on the **First Come First Serve** basis.

Anyways feel free to check out other **unassigned issues**, or create an Issue if you spot one🎯.

T

[2021-03-09 05:49] kothariji commented on #25
Hey, @sahildotexe, thank you for showing interest 🚀

We appreciate🙏 your dedication and efforts towards our project, but according to our [*contributing guidelines](https://github.com/kothariji/SyntaxMeets/blob/master/CONTRIBUTING.md), Issues are assigned on the **First Come First Serve* basis.

Anyways feel free to check out other *unassigned issues*, or create an Issue if you spot one🎯.

Thank y

[2021-03-09 05:51] kothariji commented on #30
@Vishv07 Great 🚀
I am assigning this issue to you 👍

[2021-03-09 05:55] kothariji commented on #31
@Vishv07 Great 🚀
I am assigning this issue to you 👍

[2021-03-09 06:00] #30 closed

[2021-03-09 06:05] kothariji commented on #26
@Vishv07 Great 🚀
I am assigning this issue to you 👍

[2021-03-09 06:06] Akash-Salvi commented on #26
Hey, @micksharma, thank you for showing interest 🚀

We appreciate🙏 your dedication and efforts towards our project, but according to our [**contributing guidelines**](https://github.com/kothariji/SyntaxMeets/blob/master/CONTRIBUTING.md), Issues are assigned on the **First Come First Serve** basis.

Anyways feel free to check out other **unassigned issues**, or create an Issue if you spot one🎯.

Th

[2021-03-09 07:05] subhangi2731 commented on #22
please assign this to me

[2021-03-09 08:38] Lavcodes opened #34 "Allow the users to adjust views"
**Is your feature request related to a problem? Please describe.**
Majority of the time, the syntax pad and editor would not be used at the same time. Allow the user decide which feature to access. Would allow for a cleaner UI. While coding, would allow input output window to be beside the written code. This would improve the user experience as well.

**Describe the solution you'd like**
Create op

[2021-03-09 08:40] kothariji commented on #22
Hi @RituCs , First of all, thank you so much for taking out the time to work on this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

Desc: For this issue, we basically want our SyntaxPad to be real-time & collaborative. So for that, a simple approach is to copy the entire drawing(diagram) whenever the canvas changes, and send it to the backend usi

[2021-03-09 08:41] Lavcodes commented on #34
I would like to work on this as GSSOC participant.

[2021-03-09 08:52] Nishant127 commented on #22
Hey, @rohitsigar @micksharma @subhangi2731, thank you for showing interest 🚀

We appreciate🙏 your dedication and efforts towards our project, but according to our [**contributing guidelines**](https://github.com/kothariji/SyntaxMeets/blob/master/CONTRIBUTING.md), Issues are assigned on the **First Come First Serve** basis.

Anyways feel free to check out other **unassigned issues**, or create an I

[2021-03-09 08:57] Lavcodes opened #35 "Enable 'xyz is typing..' feature in code editor"
**Is your feature request related to a problem? Please describe.**
While multiple users are typing in the code editor at the same time, the other users are not shown. This could create problems when say, two or more of them try to edit at the same place, cannot track progress in real time, who is writing where.
How it looks right now

![syntaxmeets](https://user-images.githubusercontent.com/599243

[2021-03-09 08:57] Lavcodes commented on #35
I would like to work on this issue as GSSOC'21 participant.

[2021-03-09 09:04] kothariji commented on #21
1. Yes, there should be a video and mic button, which on click should toggle the audio/video of the user. For now, we can place it on the navbar, but where will you show the video screens of the other participants ? in the bottom of the SyntaxRoom(the meeting room) or on a different page. ?
2. I think Web-RTC is preferred(as mentioned by @Vishv07 also)  because it is kind of a standard practice wh

[2021-03-09 09:12] Devenkapoor7303 commented on #17
@kothariji I have added a leave meeting button can u review it so that i can make a PR?

![Capture](https://user-images.githubusercontent.com/73438023/110446711-51b04400-8074-11eb-93f9-8e6d3d54beee.PNG)

[2021-03-09 09:22] kothariji commented on #17
@Devenkapoor7303 This looks really nice, but there is just a slight modification.

- Can you please just add a start icon, similar to the other buttons like room id, chat box. For eg. you can add **callend** material UI icon
![image](https://user-images.githubusercontent.com/60866749/110447790-95439600-80e6-11eb-9713-48b3ad3c369a.png)

- Also can you please use this HexCode for the background colo

[2021-03-09 09:24] Devenkapoor7303 commented on #17
Okay I will make these changes in the project

[2021-03-09 09:27] kothariji commented on #17
Sure

[2021-03-09 09:40] kothariji commented on #35
Hi @Lavcodes, First of all, thank you so much for taking out the time to create this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍
Even I scratched my head a lot to achieve this😆.
Anyways mentors will be guiding us to achieve this feature.
Also to display the name we can use tooltip by material-UI - https://material-ui.com/components/tooltips/

A

[2021-03-09 09:47] Vishv07 commented on #21
Agreed👍  @kothariji

[2021-03-09 09:51] Nishant127 commented on #34
Hi @Lavcodes, First of all, thank you so much for taking out the time to create this issue.

Yes, we agree SyntaxPad is not needed every time.
But, we are simultaneously working on a video calling part so we are thinking to show the video frame next to the code editor.
For now, we can wait for the completion of issue #21 to resolve so we can work on this part.
Till then if you have any suggestions

[2021-03-09 09:56] Shubham-Kumar-2000 commented on #12
Solved and Added PR

I refrained to add a huge dependency such as redis and solved it using logic.

[2021-03-09 10:16] Vishv07 commented on #22
Hey @RituCs, thank you for showing interest 🚀. You will have to wait till I add the new Canvas. Then you can work on this.

[2021-03-09 10:30] RituCs commented on #22
Ok @Vishv07 . Let me know when you finish this.

[2021-03-09 18:56] Devenkapoor7303 commented on #17
@kothariji  I have made the changes and added a icon also with the color you have mentioned

![Capture](https://user-images.githubusercontent.com/73438023/110522725-1474a200-80c6-11eb-992c-7504cd740c67.PNG)

[2021-03-10 03:27] kothariji commented on #17
Hey @Devenkapoor7303, this looks tremendous.
Please open a PR, so that we can review the code 🙌

[2021-03-10 04:38] vrii14 opened #37 "Adding Some Helpful Resources Links below the Syntax Pad"
The area under syntax pad and besides input output block looks incomplete and empty.

**To modify the same I would like to create this issue**
I can add some helpful resource links like GFG, Hackkerrank, LeetCode since programmers who are coding might need these resources frequently and it will also fill up the place nicely.

If you like the idea, please assign me this issue for GSSOC'21
![Screens

[2021-03-10 04:43] Devenkapoor7303 commented on #17
Okay I will make a PR so that u can review

[2021-03-10 11:13] WaderManasi commented on #25
#### Hi @kothariji, This is basic design layout of footer .If there are any changes kindly let me know so that I can start with actuall coding part.
![syntaxmeets footer (1)](https://user-images.githubusercontent.com/52437677/110620539-1ff7c400-81bf-11eb-8a15-a0b45d0c0ef4.png)

[2021-03-10 13:23] WaderManasi commented on #25
Sure !

[2021-03-10 13:55] guruc-134 opened #39 "Code Collaboration"
**Is your feature request related to a problem? Please describe.**
Allow the users to view each others code

**Describe the solution you'd like**
The users shall be able to view the code of the people in the room and collaborate with them in their editor. this feature would be similar to the live share feature.

**Motivation**
Please outline the motivation for the proposal.
The main motivation beh

[2021-03-10 14:01] FireQueen-3010 commented on #39
I would like to collaborate for working on this issue with @guruc-134. Please do assign this under GSSoC'21.

[2021-03-10 14:17] vrii14 commented on #37
Thanks @kothariji!  So, basically I meant something in a block like i/o with a heading "Some Useful Resources" and in the block icons with their website links like GFG tutorial section link, CodeChef and Hackerrank learning pages links with their icons and we can add some more to it later!

[2021-03-10 14:26] Vishv07 commented on #39
@guruc-134  Look we have only one editor which is already collaborative.

[2021-03-10 16:50] kothariji commented on #17
Fixed 🚀
Thanks, @Devenkapoor7303 for the contribution 🙌

Keep Contributing 🔥

[2021-03-10 16:50] #17 closed

[2021-03-10 16:55] Devenkapoor7303 commented on #17
@kothariji thanks for cooperative nature as u have guided me

[2021-03-10 17:26] kothariji commented on #17
Thank you 😊 🙏

[2021-03-10 18:06] rohithmsr commented on #16
Hello @kothariji
May I work on this issue. Since it is beginner-friendly and my first FOSS contribution.

[2021-03-11 05:35] jainaayush01 commented on #16
I will be working on this from tomorrow onwards.
and wow I didn't know that this is gonna be a part of GSSoC'21.
Amazing @kothariji, I am also a participant would love to work on this.

[2021-03-11 05:39] rohithmsr commented on #16
@jainaayush01

Since, you said you have exams, I wanted to try this as my first contribution. So will you give me a day time to complete this. If I am not able to complete within tonight, you may take it

@kothariji

[2021-03-11 05:57] kothariji commented on #37
Yes @vrii14 , but do you think it's a right call to advertise websites of other coding platforms, and that to static, means it will be there always.
Instead, here are some cool stuff which I think we can add
1. ranodm motivational/coding quotes or facts
2. chrome dino game, so that if a user is bored he can play that 😆
3. Random algorithm with there Wikipedia link, so a user can click on it and ex

[2021-03-11 08:36] kothariji commented on #12
Fixed 🚀
Thanks, @Shubham-Kumar-2000  for the contribution 🙌

Keep Contributing 🔥

[2021-03-11 08:36] #12 closed

[2021-03-11 09:16] #25 closed

[2021-03-11 09:17] kothariji commented on #25
Great 🚀
Thanks, @WaderManasi for the contribution 🙌

Keep Contributing 🔥

[2021-03-11 10:43] Vishv07 commented on #37
@kothariji  Agree with you! Bcz this isn't a CP platform.

[2021-03-11 10:45] Priyankcoder commented on #37
@kothariji I think adding a random motivational quote would be a great idea. As sometimes coding is tiresome and a glance at the quote might help stick to coding. Chrome Dino game is cool too but I think it will distract users from coding.
I can implement a random motivation quote feature if you assign this task to me.

[2021-03-11 11:01] vrii14 commented on #37
Yess @kothariji
I think random motivational / coding quotes would be a great idea and we could also add some cool transitions for changing quotes too!

[2021-03-11 11:32] Priyankcoder opened #44 "Pop-up alert message on copying room-id."
Hii :wave: @kothariji. On clicking room-id, an alert message appears which disappears on clicking ok otherwise it remains there and freezes the window. I know it is the default behaviour of alert messages but we can do a better UI friendly message alert that fades away on clicking the copy button. It doesn't freeze the windows too and doesn't require any user interaction.

[2021-03-11 11:32] Priyankcoder commented on #44
I would like to work on this issue as GSSOC'21 participant.

[2021-03-11 12:10] Priyankcoder commented on #26
@Vishv07 Here is a feature suggestion, Please make the whiteboard infinite and scrollable. That way users can write their mind out without caring about space.
You can take the inspiration from here: https://miro.com/app/dashboard/

[2021-03-11 17:17] kothariji commented on #37
Yes, but actually we are working on a video call feature in issue #21  so because of that there might be some UI changes in the Room. So I think we should wait for that issue to be resolved, and we can discuss this issue if there is any vacant area left.

[2021-03-11 17:20] kothariji commented on #44
Hi @Priyankcoder, First of all, thank you so much for taking out the time to create this issue. 🚀

can you show me a basic design/animation/screenshot or example, if you have one so that it will be more clear to us, what you are aiming to build.

[2021-03-11 17:22] vrii14 commented on #37
Okay sure!

[2021-03-11 17:43] kothariji commented on #16
Sure

[2021-03-11 17:46] Akash-Salvi commented on #16
Hey, @rohithmsr, thank you for showing interest 🚀

We appreciate🙏 your dedication and efforts towards our project, but according to our [**contributing guidelines**](https://github.com/kothariji/SyntaxMeets/blob/master/CONTRIBUTING.md), Issues are assigned on the **First Come First Serve** basis.

Anyways feel free to check out other **unassigned issues**, or create an Issue if you spot one🎯.

Tha

[2021-03-11 17:55] Aryaman1706 opened #45 "Conflict resolution for collaborative editing."
**Is your feature request related to a problem? Please describe.**
- In the current implementation, the message received via socket connection is set as a value for the editor as well. There is no conflict resolution strategy.

- For example:-
If one user types "foo" in front of "bar" and the other types "baz" after "bar" at the same time, you will notice inconsistencies.
To handle this we need so

[2021-03-11 19:10] rohithmsr commented on #16
Sure @Akash-Salvi

[2021-03-12 10:03] kothariji commented on #45
Hi @Aryaman1706, First of all, thank you so much for taking out the time to create this issue. 🚀

We will try to analyze these algorithms and will get back to you shortly, that what we can do in this scenario.
Also, @nehaparmar99, can you please look into this issue and share your reviews 🙌

[2021-03-12 10:12] Vishv07 commented on #26
@Priyankcoder  Thanks, mate! I Will surely look into this

[2021-03-12 10:30] ankitaugale23 opened #46 "Adding styling to cards of in About Us section"
**Is your feature request related to a problem? Please describe.**
Right now, this section looks good but if we add some styling to the cards such as:
1. Card will only show name and bio at the start.
2. After hovering over it it will display all the links and enhancing some more styling in cards so it will highlight the card we are looking at.

**Describe the solution you'd like**
A clear and con

[2021-03-12 11:05] Vishv07 commented on #26
@Priyankcoder This is next Level 🔥🔥🔥🔥 [https://miro.com/app/dashboard/]

Do you know any open source lib which has kinda same features

[2021-03-12 11:52] Priyankcoder commented on #44
Here is the basic design example [gif](https://imgur.com/a/c43tIuy).

[2021-03-12 12:20] Priyankcoder commented on #26
@Vishv07 I don't know about that, but I found some results on searching.
[1](https://github.com/daniellowtw/infBoard), [2](https://github.com/renrut/Infinite-Whiteboard), and [3](https://github.com/TomHumphries/InfiniteCanvasWhiteboard).

[2021-03-12 15:57] #19 closed

[2021-03-12 16:03] kothariji commented on #19
Great work @murtaza1112
I really appreciate the way you resolved this issue. 💫
Really a wonderful quality PR's 🙌
Keep up the great work.

Looking forward fpr more contributions from your side 🔥 🙌

[2021-03-12 16:21] kothariji commented on #46
Hi @ankitaugale23, First of all, thank you so much for taking out the time to create this issue.

It would be a great help if you can provide a small video/animation so that we can get a clever idea.

Also please mention in the issue, that would you like to work on this issue😊

And last but not least,
Keep Contributing 🙏🔥

[2021-03-12 19:59] AmeyaJain-25 opened #48 "Validation, Alert issues in Create and Join Room"
**Describe the bug**
While creating a room, when we submit the input with empty characters, it gives and default browser alert. But after clicking on "ok" of alert, the popup or Modal get's disappeared.
Same with the Join room. In join room, if name is empty and the room id is wrong, then it continuously checks and gives two alert one back to the other.

I will rectify this error and also I will t

[2021-03-12 22:01] AishwaryaKaranth commented on #24
Is there a deadline for resolving this issue?

[2021-03-13 04:53] anhushree opened #49 "Coding: Add more information to the Introduction Page"
**Is your feature request related to a problem? Please describe.**
The Intro page (Landing Page) misses  FAQs, Contact Us for Queries slides.
A User who first sees SyntaxMeets will find it easier to get to know it better.

**Describe the solution you'd like**
We can add more sections on the Intro Page.
As the user scrolls down he can find the FAQs, Contact us slides
Optional: Can include the About

[2021-03-13 05:05] anhushree opened #50 "Enter Key should submit Forms"
**Describe the solution you'd like**
For creating a room or joining a room, after filling in the necessary information, if the user presses Enter Key, it should automatically take us to the result page.

**Are you willing to contribute to this issue?** [Yes/No]
Yes

[2021-03-13 06:00] Vishv07 opened #51 "CORS issue while handling backend requests."
**Describe the bug**
CORS get blocked bcz Socket didn't configured by all origins

**Expected result**
 It should handle backend req.

**Are you willing to contribute to this issue?** [Yes]

[2021-03-13 06:01] Vishv07 commented on #51
Resolved. Open a PR #47

[2021-03-13 06:26] kothariji commented on #44
Looks Great, you can go for it. I am assigning this issue to you. 🙌

[2021-03-13 06:34] kothariji commented on #48
Hi @AmeyaJain-25, First of all, thank you so much for taking out the time to create this issue.

Yeah, I think it's a clever idea to use some customizable modals instead of dull browser alerts.
Also, please try to maintain the [color theme of the project](https://coolors.co/000a29-0077b6-00b4d8-ffd500-f3f7f7-ffffff)
Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue t

[2021-03-13 06:38] kothariji commented on #51
Great 🙌, Thank you so much fr resolving this issue.

[2021-03-13 06:44] Akash-Salvi commented on #49
Hi @anhushree, First of all, thank you so much for taking out the time to create this issue.

It will be very helpful for others to get more information about SyntaxMeets.
Also, adding GitHub and About Us buttons on the home page would increase user experience overall.
But before working on the actual code-part it would be better if you could share with us a basic Figma/xd/canva/excalidraw prototy

[2021-03-13 06:48] Nishant127 commented on #50
Hi @anhushree, First of all, thank you so much for taking out the time to work on this issue.

Yeah, it would be great if the user can directly enter the room by pressing <kbd>Enter Key</kbd>.
Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-03-13 06:51] #51 closed

[2021-03-13 07:20] Nishant127 commented on #24
Yeah, the deadline is of 1 week as the issue is of Level 2.

[2021-03-13 14:31] anhushree commented on #49
Sure will share the UI design first, Thank you.

[2021-03-13 14:31] anhushree commented on #50
Thank you so much

[2021-03-13 17:14] KshitijDarekar opened #54 "Docs: Change the github command to set the upstream in CONTRIBUTING.md"
**Describe the bug**
There is a minor change required in the GitHub command to set the upstream repository in the Contributing.md file.
The current command gives an error: " fatal: pathspec 'upstream' did not match any files "

**Screenshots**
![image](https://user-images.githubusercontent.com/63798770/111037870-07e8a480-844c-11eb-9855-082b2124e954.png)
![image](https://user-images.githubuserconte

[2021-03-13 18:04] AyushShri opened #55 "Add list view of all the people who have joined the room"
The Current UI does not show any information about all the persons who have joined the room ( including the room creator ).
 Curated Idea-
- The idea is to get a view list of the people associated with the room and show their nicknames.
- Nicknames can be fetched when the user enters their name to enter the room. ( using socket names )
- This list can be shown/generated below the drawing pad.

#GS

[2021-03-13 18:56] AyushShri commented on #54
Hi @KshitijDarekar , First of all, thank you so much for taking out the time to create this issue #54

I looked through your issue and realized it's a command error.

Definitely:raised_hands:, Please go forward to work on this issue. I am assigning this Issue to you :thumbsup:

And last but not least,
Keep Contributing :pray::fire:

[2021-03-13 18:57] #55 closed

[2021-03-13 18:58] AyushShri commented on #55
Feature included

[2021-03-13 21:20] Aryaman1706 commented on #45
So I have read more on both these algorithms to figure out which one would be better.
Links in my previous comment depicts why do we need any of them.

[Here](https://josephg.com/blog/crdts-are-the-future/) is a very nice article comparing OT with CRDT. It covers up most of the things without going into technical details of algorithms.

It basically boils down to this:
- OT requires a central serv

[2021-03-14 02:58] jainaayush01 opened #56 "[Feat]: Add Code Template for the user"
**Is your feature request related to a problem? Please describe.**
We always want to do fast coding!!

**Describe the solution you'd like**
Code Snippets can be saved for a particular user(This can be done only after the login/signup feature is added which is in the issue bucket list)

**Motivation**
When the user login and creates a new room(not for joining room as some other code may get affecte

[2021-03-14 03:03] jainaayush01 opened #57 "[Feat]: Add Option to upload code from local files"
**Is your feature request related to a problem? Please describe.**
Sometimes a user may have a particular file to modify.

**Describe the solution you'd like**
Add Option to upload code from local files

**Are you willing to contribute to this issue?** [Yes/No]
Yes

**Describe alternatives you've considered**
User can add files from local storage for the chosen Language and it should have the same

[2021-03-14 03:16] jainaayush01 opened #58 "UI Improvement"
**Describe the bug**
Describe the issue that you're seeing clearly.
![image](https://user-images.githubusercontent.com/54480934/111055959-1ca35780-84a1-11eb-843a-955591e1b0f8.png)

**To Reproduce**
Clear steps describing how to reproduce the issue.
1. Go to syntax meet
2. Create a room
3. Scroll Horizontally
4. See Error caused due to footer content

**Expected result**
What should happen?
![image

[2021-03-14 03:18] jainaayush01 commented on #58
It can be resolved by removing margin-right as shown in expected results(Inspect Tab)

[2021-03-14 05:07] AyushShri commented on #57
Hi @jainaayush01  , First of all, thank you so much for taking out the time to create this issue #57

Currently, the upload from the local feature is not available, Hence as you aforesaid, it would be great if this feature is also added.
For the MVP design of this feature, it would be great if we can add the " Upload from Local Storage " feature first and then continue on from fetching from the Dr

[2021-03-14 05:37] KshitijDarekar commented on #54
@AyushShri  I have made a PR #59 .

[2021-03-14 05:45] jainaayush01 commented on #57
Okay sure I will try to implement " Upload from Local Storage " feature first.
Thanks for your time

[2021-03-14 05:50] kothariji commented on #56
Hi @jainaayush01, First of all, thank you so much for taking out the time to create this issue.

Yes, it's a cool idea 💡 , but for now, let's wait for issue #18 to get resolve so that we can look over this part, and we can discuss the user flow, that after login where a user should be redirected to either room or home or user profile(if created).

so even we will think about it, and you can also t

[2021-03-14 05:57] kothariji commented on #57
True, these points are really impressive. 🙌
Detecting a file language by its extension and changing the file accordingly would really improve UX.  💫
Great to go @AyushShri  🚀

[2021-03-14 06:16] Priyankcoder commented on #24
@AishwaryaKaranth @kothariji I can work on this issue if you assign it to me.

[2021-03-14 06:29] #44 closed

[2021-03-14 06:33] AishwaryaKaranth commented on #24
I am already working on the issue.

[2021-03-14 06:51] Nishant127 commented on #58
Hi @jainaayush01, First of all, thank you so much for taking out the time to create this issue.

Definitely 🙌, Please go forward to work on this issue. We are assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-03-14 07:32] simran2607 opened #60 "Share button for room-Id"
**Is your feature request related to a problem? Please describe.**
To share the room-code directly through Whatsapp without copying it and then sharing.

**Describe the solution you'd like**
Adding a share button to share room code.

**Are you willing to contribute to this issue?** [Yes/No]
I would like to contribute towards it.

[2021-03-14 08:38] Vishv07 commented on #60
This feature seems good but look, this whole platform is collaborative and we are sharing code editor and chat and voices in future as well. so there will no necessary for the share button.

what's your take on this @kothariji

[2021-03-14 09:10] kothariji commented on #60
Hi @simran2607, First of all, thank you so much for taking out the time to create this issue #57

Can you please elaborate, what do you mean by room code -> is it the room-Id, or the code present inside the code editor?

If you are talking about room-Id here is a note 👇
Currently, SyntaxMeets is not mobile responsive, so it is not possible to create/join a room using mobile devices, hence we canno

[2021-03-14 09:25] simran2607 commented on #60
I am talking about room-id. and we can share it using whatsapp web if possible. But if not possible I totally understand.

[2021-03-14 09:30] Vishv07 commented on #60
Ahh! I thought room code. that's why. This seems doable.

[2021-03-14 10:30] AmeyaJain-25 commented on #48
Issue is resolved. Ready to make PR

While resolving issue, package.lock.json is created. So, should I delete this file and then make a PR or it's okay with the package.lock.json file

[2021-03-14 10:47] AmeyaJain-25 opened #62 "SVG not covered on landing Page"
**Describe the bug**
The svg is not covered fully on home page

**To Reproduce**
Clear steps describing how to reproduce the issue.
1. Go to 'Home page'
3. Scroll down to 'bottom' if 'required'
4. See blank white space not covering the page.

**Expected result**
The svg should cover the whole page and not look half covered.

**Screenshots**
![Screenshot from 2021-03-14 15-38-45](https://user-image

[2021-03-14 13:44] kothariji commented on #60
Hey Simran, suddenly an idea 💡 hoped into my mind, instead of limiting it to WhatsApp, It would be better if we can make a generalized message. For eg- currently, when we click on room-Id only room-Id is copied to the clipboard.
But instead of that, we can have a personalized message for Eg.
[code]
So using this personalized message we can send it to any platform.

For Eg.
![image](https://user-im

[2021-03-14 13:51] kothariji commented on #62
Hi @AmeyaJain-25, First of all, thank you so much for taking out the time to create this issue.

Yes, it is looking somewhat unpleasent.
Definitely 🙌, Please go forward to work on this issue. We are assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-03-14 13:56] jainaayush01 commented on #56
Yes

[2021-03-14 16:20] ankitaugale23 commented on #46
Sure. I will send it to you by tomorrow.

[2021-03-14 18:18] simran2607 commented on #60
Yes this seems great !!!

[2021-03-14 19:40] Jimmy5467 commented on #46
If you permit me I would like to contribute to this issue.
Suggestion: I will not completely copy as same as that of @ankitaugale23 I will do some modification myself to look it better if you permit.

[2021-03-14 20:05] AmeyaJain-25 opened #65 "Add Close button for closing Chat"
**Is your feature request related to a problem? Please describe.**
User can close the chat only by clicking in the shaded area. He/She should have an Close icon at top right or top left corner of the chat box to close it.

**Describe the solution you'd like**
I would like to add the close icon button to close the chat box.

**Motivation**
This feature is for better user experience and user friendl

[2021-03-15 03:50] #54 closed

[2021-03-15 04:00] #48 closed

[2021-03-15 04:15] #62 closed

[2021-03-15 04:17] kothariji commented on #62
Thank you for your contributions @AmeyaJain-25 🚀

Keep Contributing 🙏 🔥

[2021-03-15 04:18] kothariji commented on #54
Thank you for your contributions @KshitijDarekar  🚀

Keep Contributing 🙏 🔥

[2021-03-15 04:18] kothariji commented on #48
Thank you for your contributions @AmeyaJain-25 🚀

Keep Contributing 🙏 🔥

[2021-03-15 04:18] kothariji commented on #44
Thank you for your contributions @AmeyaJain-25 🚀

Keep Contributing 🙏 🔥

[2021-03-15 04:18] kothariji commented on #44
Thank you for your contributions @Priyankcoder  🚀

Keep Contributing 🙏 🔥

[2021-03-15 04:20] kothariji commented on #60
Yes, So do let me know If you wish to work for the same 🚩

[2021-03-15 04:21] kothariji commented on #65
Hi @AmeyaJain-25 , First of all, thank you so much for taking out the time to create this issue.

Oh Yeah, we totally forgot that 😅.
Definitely 🙌, Please go forward to work on this issue. We are assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-03-15 04:22] simran2607 commented on #60
Yes I would definitely do it

[2021-03-15 04:23] kothariji commented on #60
Great, we are assigning this issue to you 🙌

[2021-03-15 05:23] #58 closed

[2021-03-15 09:16] murtaza1112 opened #66 "For Chatbox , Add 'user is typing' functionality ."
**Is your feature request related to a problem? Please describe.**
In the chatbox , it can't be seen if a user is currently typing a message .

**Describe the solution you'd like**
Show the name of user typing above the submit input above the input tag in the chatbox .

**Motivation**
A common feature in all chat applications .

**Are you willing to contribute to this issue?**
Yes

[2021-03-15 10:10] kothariji commented on #65
Hi @AmeyaJain-25, it would be great if you do the same for the Participants list also 🚀

[2021-03-15 10:15] simran2607 commented on #60
Hey using directly link will require name of the participant and then its been directed to home page. So we can't provide direct link as of now. So shall I work upon this sharing link feature as well ?

[2021-03-15 10:17] kothariji commented on #66
Hi @murtaza1112, great to see you back 🙌.
Thank you so much for taking out time to create this issue 🚀

Yes, Please go forward to work on this issue, I am assigning this issue to you 🔥.
(Might be a little challenging 😆) I want to see what you can think off, when multiple users are typing at the same time.
Keep Contributing 🙌

[2021-03-15 10:19] kothariji commented on #60
Yes, actually for now in the message we can write the steps, like
Something like that, instead of direct link
[code]

[2021-03-15 10:27] kothariji commented on #46
@ankitaugale23 this looks really nice, but as there are 3 creators, so how would manage all 3 cards in the same row,(refer pic)
![image](https://user-images.githubusercontent.com/60866749/111139315-ff58b100-85a6-11eb-9a0b-8a363b7d8252.png)

[2021-03-15 10:33] AmeyaJain-25 commented on #65
Yes Sure, I'll do it for the Participants list too

[2021-03-15 10:34] kothariji commented on #65
Wonderful 🙌

[2021-03-15 11:55] #60 closed

[2021-03-15 12:24] Vaibhav-afk opened #68 "Room ID generation"
**generateRoomId method inside home.js**

- The room Id generated from this method will be inefficient and less secure, as it is generated from set of lowerCase & upperCase Alphabets.

**solution**

- We can use `uuid` npm package for generating unique Id's, created from cryptographically-strong random values.

**Screenshots**
![1](https://user-images.githubusercontent.com/67143938/111151657-c542d

[2021-03-15 14:14] simran2607 opened #69 "🚀[Feat]: code and illustrations are lost once you refresh"
**Is your feature request related to a problem? Please describe.**

Once you refresh you lose all the code/illustrations and you can't continue from where you left. And you have to join as new member with no old code/illustrations.

**Are you willing to contribute to this issue?** [Yes/No]
Yes

[2021-03-15 14:42] simran2607 opened #70 "🐛 [Bug]: Illustrations are not reflected"
**Describe the bug**
Describe the issue that you're seeing clearly.
As you can see in the provided screenshots that codes are being reflected to all members but illustrations are not.

**Expected result**
Illustrations should be visible to all the members.

**Actual result**
Illustration is visible only to the one who drew it.

**Screenshots**
If applicable, add screenshots to help explain your pr

[2021-03-15 16:42] kothariji commented on #70
Hi @simran2607, First of all, thank you so much for taking out the time to create this issue.

Actually, we are already working on a similar issue #22.

Sorry for the inconvenience caused 🙌 .
Keep contributing 🔥

[2021-03-15 16:42] #70 closed

[2021-03-15 16:56] kothariji commented on #68
Hi @Vaibhav-afk, First of all, thank you so much for taking out the time to create this issue.

Generally, we thought to make room-Id more user-friendly and in a presentational format. So we came up with a pattern
**`xxxx-yyyy-zzzz`**. Also, the possible numbers of rooms are 52^12 which is huge.
So I feel, currently, there is not a need for UUID generated room-Ids

What are your thoughts on this @

[2021-03-15 17:01] Vaibhav-afk commented on #68
Yeah!  you are absolutely right but in case of scaling, it would help.

[2021-03-15 17:02] kothariji commented on #69
Hi @simran2607 , great to see you back 🙌.
Thank you so much for taking out time to create this issue 🚀

Yes, Please go forward to work on this issue, I am assigning this issue to you 🔥.

Also localStorage( ) can play a vital role in this. Do check it out 🙌

[2021-03-15 17:02] #68 closed

[2021-03-15 18:17] AyushShri commented on #69
Hey @simran2607 , Glad to know you are working on this issue.
It would be really great if you solve this issue.
Also as the issue sounds interesting to me, I would really like to know the implementation methodology that you have in mind for solving this issue. Please let us know the same!
Happy Contributing!

[2021-03-15 18:21] amaan-ahmad opened #71 "Default Source code in SyntaxEditor remains unchanged on changing the programming language from the drop-down."
**Describe the bug**
Default Source Code in SyntaxEditor doesn't change on changing the language from the drop-down.

**To Reproduce**
Clear steps describing how to reproduce the issue.
1. Create or Join a room by navigating to [Syntaxmeets](https://syntaxmeets.netlify.app/)
2. Try to change the programming language from the SyntaxEditor drop down. for example, change it from C++ to Python.
3. Not

[2021-03-15 18:37] amaan-ahmad opened #72 "Snackbar instead of Javascript alert when copying code using "Copy" button."
**Is your feature request related to a problem? Please describe.**
This feature request is the enhancement of the existing "copy code" feature.

**Describe the solution you'd like**
On clicking the "Copy" Button in SyntaxEditor a javascript alert pops up saying "Code Copied Sucessfully". This default alert can be enhanced and a [snackbar](https://material.io/components/snackbars) can be used.

**M

[2021-03-16 05:12] AyushShri opened #74 "Add Code share feature that generates an image of the Code Snippet."
- The idea is to add a Share button that generates a link of the code snippet converted in some beautified form. [(see ref. example)](https://carbon.now.sh/JrHP5h3gCy3uyVz38lOQ)
- This Link would be sharable to different users with the READ ONLY and ctrl+c  access.
- We can use an external API Service for this. Example: [Carbon.sh](https://carbon.now.sh/).
- If implementing on our own, then the sh

[2021-03-16 05:13] kothariji commented on #72
Hi @amaan-ahmad, First of all, thank you so much for taking out the time to create this issue.

But, we have already fixed this issue with PR #53.
You can check the updated website here - https://syntaxmeets.vercel.app/

Thanks 🙏

[2021-03-16 05:23] kothariji commented on #71
Hi @amaan-ahmad, First of all, thank you so much for taking out the time to create this issue.

We are already working on a similar issue #16.
Sorry for the inconvenience 🙏

[2021-03-16 05:23] #71 closed

[2021-03-16 07:32] krishna-y2000 opened #75 "Improve security of website - gssoc'21"
**Is your feature request related to a problem? Please describe.**

Setting various HTTP headers using helmet for enhancing security .
Rate limiter so the server won't get overload.

Please assign this issue to me as part of gssoc'21.

**Motivation**
 Improve security of website

**Are you willing to contribute to this issue?** [Yes/No]
Yes

[2021-03-16 08:02] amaan-ahmad commented on #72
Hey @kothariji
Yes, you are right about the room ID copy button, but the copy button that copies the "source code" of the code editor is still the former one. Kindly re-check.

**Screenshot**
![image](https://user-images.githubusercontent.com/27350808/111275075-c0d0fe00-865b-11eb-9990-c2cb72c2d066.png)

Would be happy to make this small contribution.

Thanks.

[2021-03-16 08:26] amaan-ahmad commented on #66
Hey guys @kothariji @murtaza1112, doesn't this issue resembles #35 ?

[2021-03-16 08:42] amaan-ahmad opened #76 "Warnings concerned about web a11y, performance , and security issues."
**Describe the bug**
We developers many times don't take warnings seriously, but they are caused for some reasons and some of them are mentioned below.

**To Reproduce**
Clear steps describing how to reproduce the issue.
1. Install all the dependencies and start the react-scripts in the front-end.
2. It takes a while to compile and then you see a lot of warnings about unused variables and a11y iss

[2021-03-16 08:42] kothariji commented on #66
Excellent work @murtaza1112

Thank you so much for your contributions 🚀

Keep Contributing 🔥

[2021-03-16 08:42] #66 closed

[2021-03-16 10:23] Vishv07 commented on #76
It's always better to remove warnings.🔨

[2021-03-16 13:19] amaan-ahmad commented on #76
@Vishv07 Yes. right.

[2021-03-16 13:45] bishalshaw-164 commented on #74
I'm gssoc'21 participant .
I want to work on this issue,
Can you assign issue to me ?

[2021-03-16 14:34] AyushShri commented on #74
Hi @bishalshaw-164 , First of all, thank you so much for taking out the time to work on this issue.
Definitely:raised_hands:, Please go forward to work on this issue. I am assigning this Issue to you :thumbsup:

Also for my interest, I would like to know the implementation methodology that you might derive to solve this issue before raising a PR. I'll be delighted to learn about your working appro

[2021-03-16 14:42] kothariji commented on #76
Hi @amaan-ahmad , First of all, thank you so much for taking out the time to create this issue.

Thank you for spotting them out
Definitely 🙌, Please go forward to work on this issue. We are assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-03-16 14:45] kothariji commented on #76
But, the missing useEffect dependencies are intentionally not added as adding those will call useEffect unwantedly. So handle those warnings wisely 🚀

[2021-03-16 14:46] amaan-ahmad commented on #76
Thanks for assigning the issue to me, and I'll take care of that useEffect thing 😊

[2021-03-16 14:49] kothariji commented on #75
Hi @krishna-y2000 , First of all, thank you so much for taking out the time to create this issue.

Before going forward with this issue, can you please explain briefly, how will you achieve rate limiters.
Also, it would be great if you can mention some of the benefits of setting HTTP headers.

And last but not least,
Keep Contributing 🙏🔥

[2021-03-16 14:56] #65 closed

[2021-03-16 15:07] kothariji commented on #72
@amaan-ahmad Oh.
Sorry for the inconvenience 🙏  caused.I misunderstood the code with Room-id.

Definitely 🙌, Please go forward to work on this issue. We are assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-03-16 15:12] kothariji commented on #66
No, @amaan-ahmad, actually issue #35 is based on SyntaxEditor(it will display the name of active user who is typing in syntax Editor), whereas this issue is for ChatBox.

[2021-03-16 19:35] WaderManasi opened #79 "[Feat]: Adding Lazy Loading component for improving performance of application."
**Describe the solution you'd like**
- We can render the components only when the user requests for it.
(initial loading time will get reduced)
- React Loader can be added.

**Are you willing to contribute to this issue?** [Yes/No]
Yes, being part of gssoc'21

[2021-03-17 04:15] anhushree commented on #49
https://www.figma.com/file/ZHGDWGlGruVU8JZ3cJBX7p/SyntaxMeets-UI?node-id=0%3A1
@Akash-Salvi Can you check this? If any changes do let me know. This is just a sample for reference.

[2021-03-17 05:19] Vishv07 commented on #79
As of now, we have very few components, what I mean by that is we have the main panel is room. so anyway the moment the user step into the room, all components has to be loaded. so it's doable but I think it won't reduce the loading time as such.

Since vercel is very quick and our landing page isn't taking much time but still Lazy Loading can be done after all its your call @kothariji

[2021-03-17 05:55] kothariji commented on #79
Hi @WaderManasi, First of all, thank you so much for taking out the time to create this issue.

Oh Yes, actually I analyzed the initial loading time of Sytaxmeets, and on the initial render, all the components are imported(**this is the normal behavior, as we write import statements directly**).

### And this is affecting the performance of our application.
![image](https://user-images.githubuserc

[2021-03-17 05:57] krishna-y2000 commented on #75
@kothariji Yes, Sure .
Rate limiter helps to control the the no. of request by user in certain amount of time therby reducing the traffic of the website and thus everyone can handle the site faster.

Helmet is used to set various http headers and http headers can leak sensitive information. It also protects from clickjacking attack.

[2021-03-17 06:18] amaan-ahmad opened #80 "Making chatbox messages more readable (UI - enhancement)"
**Is your feature request related to a problem? Please describe.**

Problem: In the chatbox, it's challenging sometimes to differentiate between my message and the other person's message as both have the same message box color - rgb(0, 180, 216). (cyan-blue kinda color)
We see most of the chat applications having a contrast of message box color so that it is easier to differentiate between my mess

[2021-03-17 07:58] lakshita15 commented on #80
I'am gssoc participant
I would like to work on this issue. I will submit before due date with fantastic work.

[2021-03-17 08:04] lakshita15 opened #81 "Add hover effects and bubble transition to home page buttons.."
I would like to make changes to the buttons on home page. Add hover effects and transitions.
I would  like to add footer section if you insist to the home page.
Please assign me this issue.

[2021-03-17 08:37] Akash-Salvi commented on #81
Hey, @lakshita15, thank you for showing interest 🚀

We appreciate🙏 your dedication and efforts towards our project, but we are already working on a similar thing at issue #49.
Once that issue is resolved, we can work on this issue.

Anyways feel free to check out other unassigned issues, or create an Issue if you spot one🎯.

Thank you😊, and Sorry for the inconvenience caused 🙌

[2021-03-17 08:46] Nishant127 commented on #80
Hi @amaan-ahmad, Thank you so much for taking out time to create this issue 🚀

Yes, Please go forward to work on this issue, I am assigning this issue to you 🔥.

**(Might be a little challenging)** Only for the user who is sending the message, we want to interchange the positions of Avatar and the message box when he will post his message.
eg: 👇
![image](https://user-images.githubusercontent.com/6

[2021-03-17 08:57] Nishant127 commented on #80
Hey, @lakshita15  thank you for showing interest 🚀

We appreciate🙏 your dedication and efforts towards our project, but according to our contributing guidelines, Issues are assigned on the First Come First Serve basis.

Thank you😊, and Sorry for the inconvenience caused 🙌

[2021-03-17 11:40] bishalshaw-164 commented on #74
Thanks for asking, I want to use toDataURL() method of HTMLCanvasElement
which returns an encoded data URI representing the image in the specified
format. But now it seems like this issue can't solve by this method.....How
can use carbon.sh. API for this issue Can u pls elaborate??

On Tue, Mar 16, 2021 at 8:04 PM Ayush Shrivastav ***@***.***>
wrote:

[2021-03-17 11:44] Vishv07 commented on #80
@lakshita15  before you get into the code part please share Figma/XD design like what exactly you are going to plan.

[2021-03-17 11:54] Vishv07 commented on #79
@kothariji Yes, we can reduce the initial loading time. let @WaderManasi give it a shot and then we will compare it.

[2021-03-17 12:51] amaan-ahmad commented on #80
Hey @Nishant127 , I'll try this one changing the position. Hopefully will succeed in this✌
Kindly assign this issue to me.

Thanks.

[2021-03-17 13:55] amaan-ahmad commented on #80
@Nishant127
Have a look, I did it!

Actually, I stored the name of user in local storage whenever they create/join the room.
and then compare it with `data.name` in ChatMessage.js as needed to do CSS-in-JS styling.
Pretty easy. ✌

![image](https://user-images.githubusercontent.com/27350808/111478637-446f1580-8756-11eb-89c0-9bdd10904bb0.png)

[2021-03-17 14:35] amaan-ahmad commented on #80
@Nishant127

As discussed, I have created PR #82 for this issue.
Kindly add the GSSOC21 label to this issue and assign it to me.

Thanks 😊

[2021-03-17 16:15] Nishant127 commented on #80
@amaan-ahmad Well done bro 🚀🔥.
I have assigned you the issue. You can go ahead now.

[2021-03-17 18:07] parulsurana opened #84 "Add Dark mode and night light mode"
The dark mode is now everywhere so I would like to enable the dark mode and night light mode to the site so that the site becomes more user friendly and implementing night light mode will not harm much to the eyes of the viewer,  so kindly assign this task to me as I have been selected as a mentee in GSSOC'21 :)

[2021-03-17 18:08] #79 closed

[2021-03-17 18:14] kothariji commented on #79
# Old Performance
![image](https://user-images.githubusercontent.com/60866749/111516840-65496200-877a-11eb-9658-eadb44033999.png)

# New Performance
![image](https://user-images.githubusercontent.com/60866749/111517017-9c1f7800-877a-11eb-9578-f6aa40301d21.png)

Great Work @WaderManasi 🙌

thank you so much for your contributions 🔥

[2021-03-17 18:29] WaderManasi commented on #79
Thank you 🙌!

[2021-03-17 18:57] rohitsigar opened #85 "Integrating an online compiler to run the code in c , c ++ , java and various languages"
As I am selected as a mentee in Gssoc'21 so please assign this task to me.
![Screenshot (875)](https://user-images.githubusercontent.com/56029541/111521909-b445c600-877f-11eb-99ef-b71e49f60b36.png)
after a complete walkthrough of the website and source code, I found that there is an error in the compilation of code so  I would love to Integrate the online compiler to run the code, so please assign

[2021-03-17 20:08] amaan-ahmad commented on #72
Hey @kothariji

I just saw that this issue got assigned to me.

I Will start working on it from tomorrow. ✌

[2021-03-18 03:56] #76 closed

[2021-03-18 08:33] #80 closed

[2021-03-18 08:35] kothariji commented on #80
## Great Work 🚀
![image](https://user-images.githubusercontent.com/60866749/111596218-ed6b4e00-87f2-11eb-86c7-97ac3b59c525.png)

Thank you for Contributing 🙌
Thanks 🔥

[2021-03-18 08:43] kothariji commented on #85
Hi @rohitsigar, First of all, thank you so much for taking out the time to create this issue 🚀

I think you have not set up the environment variables for the project, that why it's showing an error.
It is working on the deployed version - https://syntaxmeets.vercel.app/

You can set up your online judge API key
## Create a new .env file and add the following variables
[code]
Happy Contributing! 👍

[2021-03-18 09:07] kothariji commented on #84
Hi @parulsurana, First of all, thank you so much for taking out the time to create this issue 🚀

Yeah Even I am a dark node fan, but I would love to see the color combination you are thinking to implement so that we can see how it will look like 🙌

[2021-03-18 11:50] #72 closed

[2021-03-18 11:58] amaan-ahmad opened #87 "[Feat]: Fullscreen support for code editor."
**Is your feature request related to a problem? Please describe.**
A feature that could simply allow users to make their code editor window fullscreen.

**Describe the solution you'd like**
I tried ways around "ace editor" which's the current editor dependency we are using in this project. Maybe someone can suggest a way to achieve this. I think it will be worth it if we need to change the Code ed

[2021-03-18 19:25] simran2607 commented on #69
Hey there!
implementation involved : an array at server side which stores all the rooms created. Frontend fetches that array. When user refreshes the page, if the room is present, user is reconnected to its room and code is generated from previous users.

I hope you get it.
Happy contributing!

[2021-03-18 19:50] AyushShri commented on #69
Hey @simran2607 , after quickly going through your strategy, I have few doubts about your methodology-
- Have you implemented any authentication idea for retrieving from the local storage. ( anybody else with the link should not be able to open the code except the one who created or joined the room)
- What's your strategy for storing and retrieving the code data ? (As you might be knowing, data fr

[2021-03-19 04:17] kothariji commented on #45
@Aryaman1706 I went through both of these algorithms and they are pretty amazing.
So, talking about OT, we currently don't have a central server to transfer data from 1 peer to another. We have implemented socket programming, keeping web-RTC in mind.
So if we use OT in our express(backend), do you think it will increase latency, and socket communication speed will decrease eventually?
Also here is

[2021-03-19 06:47] parulsurana commented on #84
Okay I will send the color combination design for the same, soon!

[2021-03-19 08:00] simran2607 commented on #69
If a user join then his name and room-id are stored in his local storage. And if reconnects  his name and room-id will be used to connect him again as a new user. The user won't be redirected to  home page ... And will be connected back .
In this process, authentication is not needed

[2021-03-19 12:02] kotwani2883 commented on #20
@kothariji where should the mic button be placed?

[2021-03-19 12:13] kotwani2883 opened #90 "Implementing the participant button"
**Is your feature request related to a problem? Please describe.**
Whenever the user clicks on participants button the list of currently online participants must be visible.

**Describe the solution you'd like**
To display the participants

**Are you willing to contribute to this issue?**
Yes

[2021-03-19 15:33] kothariji commented on #20
For now, we can we add it to navbar if possible ?

[2021-03-19 15:36] kothariji commented on #90
Hi @kotwani2883, First of all, thank you so much for taking out the time to create this issue 🚀

Actually, we have already implemented the Participant Button in our latest release - http://syntaxmeets.vercel.app/

[2021-03-19 15:48] kotwani2883 commented on #90
Ok great!!

[2021-03-19 15:48] #90 closed

[2021-03-19 15:50] #85 closed

[2021-03-19 15:58] kothariji commented on #87
Hi @amaan-ahmad, First of all, thank you so much for taking out the time to create this issue 🚀

I think changing the editor now won't be a good decision, because ace editor provides us with a lot of themes, language support, and reliability. So to achieve full-screen instead of changing editor, we can use some other npm packages like [react-resizable(https://www.npmjs.com/package/react-resizable)

[2021-03-20 04:45] kothariji commented on #75
Alright, you are good to go. I am assigning this issue to you 🙌

[2021-03-20 10:18] amaan-ahmad commented on #87
Hey @kothariji
Yes, I too think that changing the editor library at the moment is not a correct decision to follow. Will try to do it in another way.

[2021-03-21 03:40] Vishv07 commented on #20
@kotwani2883 Any updates?

[2021-03-21 04:40] kotwani2883 commented on #20
I am working on this , between was busy with my cllg exams... It will take 2-3 days.

[2021-03-21 06:38] kotwani2883 commented on #20
Actually I am facing some issues @Vishv07 kindly help me .This will be done through webrtc right?Is there anything else because it is difficult to implement here as we have various rooms here

[2021-03-21 06:41] Avishake007 opened #91 "Website-Responsiveness"
It will improve the responsiveness of your website
please assign me for this issue
I am a gssco'21 participant and wants to contribute on this project

[2021-03-21 09:44] kothariji commented on #91
Hi @Avishake007, First of all, thank you so much for taking out the time to create this issue.

Actually, currently, we are inclined towards adding more features, and due to that there are a lot of undergoing UI changes, so It would be better if we once finish that stuff, and then we are good to go with the responsiveness of this website.

[2021-03-21 09:49] kothariji commented on #87
Sure. 🙌

[2021-03-21 09:51] kothariji commented on #24
Hi, @Priyankcoder, we are assigning this issue to you 🚀

[2021-03-21 13:45] Avishake007 commented on #91
Okay I will work on it later

[2021-03-23 09:02] simranbhalla3 commented on #91
Hi i am a gssoc participant , can i work on this issue?

[2021-03-23 09:02] simranbhalla3 commented on #81
Hi i am a gssoc participant , can i work on this issue? I can add transitions

[2021-03-23 12:45] kothariji commented on #91
Sorry @simranbhalla3, but this issue is already on hold.

[2021-03-23 12:46] kothariji commented on #81
Sorry @simranbhalla3, but this issue is already on hold.

[2021-03-23 13:13] #75 closed

[2021-03-23 19:11] kotwani2883 commented on #20
Sorry I am unable to implement it

[2021-03-24 06:14] Lavcodes opened #93 "Bug with copying RoomId"
**Describe the bug**
When you copy the RoomId , the notification is 'RoomId copied'. this is what gets copied.
Hi there! You have been invited by sanjali to join SyntaxMeets.    Click on this link - https://syntaxmeets.vercel.app    and join the room by providing your name and Room-Id: FsqZ-NjYl-PVGa.

**To Reproduce**
Clear steps describing how to reproduce the issue.
Create a Room and click on R

[2021-03-24 10:15] kothariji commented on #93
Hi @Lavcodes, First of all, thank you so much for taking out the time to create this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-03-25 08:06] lopeselio commented on #20
Is the issue open ?

[2021-03-25 11:28] kothariji commented on #20
No issues @kotwani2883, we really appreciate your time and efforts. 🙏😊

[2021-03-25 11:28] kothariji commented on #20
YES, it's UP FOR GRAB 🔥

[2021-03-25 14:35] Abhishekkr93 commented on #46
I would like to contribute as a Gssoc21 participant. could you please assign me this?

[2021-03-25 14:59] Lavcodes commented on #93
I've submitted a PR for this

[2021-03-26 14:56] lopeselio commented on #20
can I try doing it? I will surely ask for guidance from the mentors in case I am stuck somewhere.

[2021-03-27 10:24] amaan-ahmad commented on #87
Hey @kothariji

Without changing the editor library, we can implement fullscreen code mode using some CSS alterations like this 👇

![image](https://user-images.githubusercontent.com/27350808/112717707-6dd92f80-8f14-11eb-8af3-dd27814175d4.png)

Kindly let me know if I should go forward with this implementation or not. ✌
(Open to suggestions)

[2021-03-27 10:31] amaan-ahmad opened #96 "🚀 [FEAT: ] Download code feature."
**Is your feature request related to a problem? Please describe.**
Downloading the present code editor's code can help developers to keep a local copy of their coding session with them!

**Describe the solution you'd like**
We can easily some libraries to write textarea (code-editor) content to a file and offer it to download.
Refer to [FileSaver.js](https://github.com/koffsyrup/FileSaver.js)

**M

[2021-03-28 06:10] #24 closed

[2021-03-28 06:21] Akash-Salvi commented on #96
Hi @amaan-ahmad, First of all, thank you so much for taking out the time to create this issue. 🚀

We are currently refactoring the entire project code, so once it done we will definitely look forward to this issue.

[2021-03-28 06:59] RituCs commented on #23
I would like to contribute on this issue.If no one is working on this issue then please assign me.

[2021-03-28 09:26] sj056 commented on #20
@kothariji Hey I'm a participant of GSSOC'21. Can I work on this issue?

[2021-03-28 10:16] amaan-ahmad commented on #96
Okay, @Akash-Salvi will wait for it. ✌

[2021-03-29 12:10] #93 closed

[2021-03-29 12:12] kothariji commented on #20
Sure @lopeselio, I am assigning this issue to you. 🚀

[2021-03-29 12:14] kothariji commented on #20
Hey, @sj056, thank you for showing interest 🚀

We appreciate🙏 your dedication and efforts towards our project, but according to our contributing guidelines, Issues are assigned on the First Come First Serve basis.

Anyways feel free to check out other unassigned issues, or create an Issue if you spot one🎯.

Thank you😊, and Sorry for the inconvenience caused 🙌

[2021-03-29 12:17] kothariji commented on #87
Hey @amaan-ahmad , this looks cool, but what if I want to access the syntax pad, or change the language, or compile the code, how can I do that. Also, what will be the layout design for the same?

[2021-03-29 13:47] amaan-ahmad commented on #87
there will be a toggle fullscreen icon button in the bottom right corner that will allow users to exit fullscreen and do their stuff. Do you have an alternate suggestion to this?

[2021-03-30 05:36] kothariji commented on #87
How about this thing, instead of making it 100% we can increase the width so that code editor feels big. Just like vscode
![Untitled design (7)](https://user-images.githubusercontent.com/60866749/112938769-e247e480-9147-11eb-8bf0-ba7c99cbfe2a.png)

[2021-03-30 06:31] AyushShri commented on #74
Hi @bishalshaw-164, I was not able to keep up with the reply as I was stuck in some work.
Yes, toDataUrL would not be able to solve this because of Canvas restrictions. Also carbon.sh has no API and works only by Embedding Code or just by typing it. So after having a discussion with @kothariji , we came to the conclusion that we can use PasteBin API for the same. ( as of now we are dropping the id

[2021-03-30 07:13] Akash-Salvi commented on #18
Hi  @bhavyashukla16, any updates?

[2021-03-30 07:14] Akash-Salvi commented on #21
Hi @kotwani2883, any updates?

[2021-03-30 07:15] Akash-Salvi commented on #22
Hi @RituCs, any updates?

[2021-03-30 07:17] Akash-Salvi commented on #23
Hi @ShrutiJha31, any updates?

[2021-03-30 07:23] kothariji commented on #35
any updates @Lavcodes ?

[2021-03-30 07:24] kothariji commented on #46
any updates @ankitaugale23  ?

[2021-03-30 07:25] kothariji commented on #50
any updates @anhushree  ?

[2021-03-30 07:25] kothariji commented on #49
any updates @anhushree  ?

[2021-03-30 07:27] Nishant127 commented on #57
@jainaayush01 any updates?

[2021-03-30 07:28] kothariji commented on #84
any updates @parulsurana  ?

[2021-03-30 07:45] ankitaugale23 commented on #46
Sorry. I am having my exams right now. Will it be okay with you if I revert back with my idea and changes till 3rd April? After confirmation from your side to the idea about how I will do it for 3 members I will complete the coding part in maximum of two days. Let me know if this is fine with you guys.

[2021-03-30 09:07] jainaayush01 commented on #57
Oh no, I totally forgot about this issue.
Okay,
Where should we provide this option.

[2021-03-30 11:34] Lavcodes commented on #35
Yes, I have been looking for some editors that have similar features.
Here's one open source editor that I found, quite similar to what we're trying to implement here.
[Link](https://etherpad.org/) to the website. Could you have a look and let me know if similar implementation would be good.

[2021-03-30 12:04] jainaayush01 commented on #57
@Nishant127 I have made the Pull Request. Thanks again for reminding me.

[2021-03-30 12:07] Lavcodes opened #98 "Improve UI of Chat Box"
**Is your feature request related to a problem? Please describe.**

- On scrolling down, the close button also moves. Ideally only chat component should scroll and close should remain fixed.
- Chat always opens from the first created message. It should start from last read or most recent message.
- Input and emoji picker alignment could be better.
- For a single message component, the name of the

[2021-03-30 12:12] anhushree commented on #49
Yes, I'm working on it well regarding the design I have few suggestions. I'll share the design page after updating it by tonight.

[2021-03-30 12:24] anhushree commented on #49
https://www.figma.com/file/ZHGDWGlGruVU8JZ3cJBX7p/SyntaxMeets-UI?node-id=0%3A1 @kothariji Kindly check this

[2021-03-30 16:37] parulsurana commented on #84
Hey, @kothariji here I added the snapshots for the design after adding dark mode. I made this using Photoshop for now.

![d](https://user-images.githubusercontent.com/63437071/113023171-fff66780-91a2-11eb-8f09-625bdcc61bd5.PNG)
![d2](https://user-images.githubusercontent.com/63437071/113023156-fc62e080-91a2-11eb-91b7-6e1913be70e3.PNG)
![dd](https://user-images.githubusercontent.com/63437071/113023

[2021-03-30 16:41] Vishv07 commented on #84
@parulsurana good one. But can be done better

[2021-03-30 16:49] parulsurana commented on #84
Okay, @Vishv07 Can you please suggest something, like I need to change the color I use or to change the color of other components too or anything?

[2021-03-31 04:59] kothariji commented on #84
@parulsurana yes there are nice, but honestly, it's not looking that great, even I tried creating a dark theme, but it's not looking good. And I think the reason begins that is colors. Because already we have dark colors in our color palette so inverting those doesn't make much sense.
Share you opinions, what do you feel regarding the same, and let me know how we can proceed further

![image](http

[2021-03-31 05:02] kothariji commented on #46
Sure No problem @ankitaugale23, and all the best for the examinations 🚀

[2021-03-31 05:08] kothariji commented on #35
Yes actually we need something like this, and also you can get ideas from google docs, and [Canva](https://www.canva.com/)

But, currently, we are on implementing Redux for SyntaxMeets, so there are a lot of changes in the codebase.
So once its done, you can surely work on this issue. 🙌

[2021-03-31 05:29] anhushree commented on #50
[code]
On the website when I click on this particular button, it directs me to a page.
Well, I'm unable to find that particular click listener in the code.
Since I'm new to this project, I find it hard to navigate to that part.

[2021-03-31 06:08] amaan-ahmad commented on #87
okay, does that means it has to get the editor kinda big and hide syntaxpad?

[2021-03-31 12:09] parulsurana commented on #84
Yeah truly speaking it is not given that great look, because already the dark color was used here.
 One thing we can try is that we can change the color of the button components and that blue one too, like make them something which gone with the dark theme, maybe it looks good, otherwise, we can drop the idea. What say?

[2021-03-31 14:57] kothariji commented on #84
Yes even I think the same. Already there are different themes when it comes to coding.
So as of now, I think we should drop this idea, and maybe in the future if you feel like adding anything to this issue, you can reopen it.

Again we all really appreciate your dedication and interest for the project.

[2021-03-31 14:57] #84 closed

[2021-03-31 15:11] kothariji commented on #50
I think you can use `onKeyDown` event, and inside that check the key code of the key pressed by user. If Key == enter, then we can make user join the room.

Reference - [Stackoverflow](https://stackoverflow.com/questions/43384039/how-to-get-input-textfield-values-when-enter-key-is-pressed-in-react-js#:~:text=Use%20onKeyDown%20event%2C%20and%20inside,and%20put%20the%20logic%20there.&text=Note%3A%20

[2021-03-31 15:13] kothariji commented on #87
No, actually there would be a toggle button on the right side of SyntaxEditor Footer. So on click, it will toggle its size.
We can name it as *Focus Mode*

[2021-04-01 13:15] dsnehasish74 opened #101 "Can join Room without Creating room"
**Describe the bug**
If I write the id in a correct format like abcd-efgh-ijkl then I can join that room though it is not created

[2021-04-02 04:58] Akash-Salvi commented on #101
Hi @dsnehasish74, First of all, thank you so much for taking out the time to create this issue.

Please let us know if you want to work on it.

[2021-04-02 08:52] amaan-ahmad commented on #87
Okay will implement this, and as there were some ongoing updates in the project such as redux and refactoring. So should I proceed with this issue, or hold till the updates get done?

[2021-04-02 08:55] amaan-ahmad commented on #96
hey @Akash-Salvi is it good to go now?

[2021-04-02 09:32] dsnehasish74 commented on #101
Yes I want to work on this issue

[2021-04-02 12:19] kothariji commented on #87
Yes, actually we are working on Refactoring. So once that thing is done, we will let you know, so that you can start working o n the issue. 🙌

[2021-04-02 12:54] Akash-Salvi commented on #101
Please go forward to work on this issue. I am assigning this Issue to you 👍

[2021-04-02 15:13] amaan-ahmad commented on #87
Okay great, I'll wait for it. If possible, kindly do inform/or make an announcement.

Thanks. ✌

[2021-04-02 16:01] kothariji commented on #87
Sure, we will inform you about the same. ✌️

[2021-04-05 16:12] srishtij2000 commented on #91
Can I work on this issue?

[2021-04-07 11:27] #57 closed

[2021-04-07 11:43] kothariji commented on #20
Hi @lopeselio, any updates ?

[2021-04-07 11:50] Nishant127 commented on #23
Hi @RituCs, please let us know if you want to work on this issue now 🙌.

[2021-04-07 11:57] kothariji commented on #35
@Lavcodes , the REDUX implementation in done. So now we can work on this issue.
Also I saw [EtherPad](https://etherpad.org/) And yes we can do like that, but also we can think of something similar to [Repl.it](https://replit.com/)

![image](https://user-images.githubusercontent.com/60866749/113862818-87a52d00-97c6-11eb-8615-d58cb008bc0d.png)

Please share your opinions on that 🙌

[2021-04-07 12:04] kothariji commented on #37
hi @vrii14, you can start working on this issue, Currently, we decided to keep issue #21 on hold, so yes we can work on this part.
Also before going to code part, please send us a prototype design of how are you thinking to implement the component.

[2021-04-07 12:12] kothariji commented on #46
Hi @ankitaugale23, any updates ??

[2021-04-07 12:14] kothariji commented on #50
any updates @anhushree

[2021-04-07 12:15] kothariji commented on #74
Hi @bishalshaw-164, any updates ??

[2021-04-07 12:20] kothariji commented on #87
HI @amaan-ahmad, we are done with refactoring the code, so now we are good to work on this issue.

[2021-04-07 12:23] Nishant127 commented on #81
Hi @lakshita15, we are done with the refactoring of the code. So now you can work on this issue 🙌.
Before going towards the implementation, please can you send basic prototype/design of the same so that we can see the changes.

[2021-04-07 12:23] kothariji commented on #96
HI @amaan-ahmad, we are done with refactoring the code, so now we are good to work on this issue.

[2021-04-07 12:25] kothariji commented on #98
Hi @Lavcodes, we are good to go with this issue now.
So please confirm with us about the same, so that we can assign this issue to you.

[2021-04-07 12:28] Nishant127 commented on #101
Hi @dsnehasish74, we are done with the refactoring of the code. So now you can work on this issue 🙌.

[2021-04-07 12:28] lakshita15 commented on #81
I’ll in a day or two

On Wed, 7 Apr 2021 at 5:53 PM, Nishant Handge ***@***.***>
wrote:

[2021-04-07 12:29] jainaayush01 opened #102 "Update Readme Link from netlify to vercel?"
I am not sure though if it is related to release or not but still thought of asking it here.

[2021-04-07 12:34] jainaayush01 opened #103 "Emoji Icon Alignment"
**Describe the bug**
Describe the issue that you're seeing clearly.

**To Reproduce**
Clear steps describing how to reproduce the issue.
1. Go to https://syntaxmeets.vercel.app/
2. Create a room
3. Click on the chatbox
4. See the error

**Expected result**
It should be aligned with the chatbox

**Actual result**
Not aligned

**Screenshots**
If applicable, add screenshots to help explain your probl

[2021-04-07 14:25] lopeselio commented on #20
Still working on it. Haven't worked lately due to a few commitments at college.

[2021-04-07 17:56] kothariji commented on #103
@jainaayush01, first of all, thank you so much for taking out time to create this issue.

Yes, the emoji icon is misaligned.
Please go forward to work on this issue. I am assigning this Issue to you 👍

[2021-04-07 17:58] jainaayush01 commented on #103
Okay 👍👍

[2021-04-07 18:00] jainaayush01 commented on #102
Yes, i would like to work on that!
👍

[2021-04-07 19:27] kothariji commented on #102
Great @jainaayush01 , I am assigning this issue to you!

[2021-04-08 05:56] vrii14 commented on #37
Okay Sure @kothariji. I will send a prototype as soon as possible

[2021-04-08 09:01] #103 closed

[2021-04-09 03:49] #102 closed

[2021-04-09 07:39] AmeyaJain-25 commented on #96
If this issue is not taken by anyone or not able to do this, then i wish to take this.
Can I get it?

[2021-04-09 07:44] AmeyaJain-25 opened #106 "The name of the Participant overflows if too big"
**Describe the bug**
If a random user gives it's name as a long string without spaces, then it get's overflowed in the participants block.

**To Reproduce**
Clear steps describing how to reproduce the issue.
1. Go to Website.
2. Give a long name without any spaces.
3. Go to participants tab.
4. See error

**Expected result**
It should be able to see full name rather than the text going outside.

*

[2021-04-09 10:06] amaan-ahmad commented on #96
hey @AmeyaJain-25

Thanks for asking, but I am already on this issue, may be got unassigned accidently. @kothariji can you just re-assign it?

[2021-04-09 10:08] amaan-ahmad commented on #87
Okay, @kothariji kindly assign the issue to me.

Thanks.

[2021-04-09 10:16] Akash-Salvi commented on #87
Hi @amaan-ahmad, Please go forward to work on this issue. I am assigning this Issue to you 👍

[2021-04-09 10:42] amaan-ahmad commented on #87
Thanks @Akash-Salvi , kindly also add a Level tag to this issue.

[2021-04-09 11:45] Vishv07 commented on #106
I think our next milestone should be to centralize the CSS @kothariji what do you say?

[2021-04-09 11:52] kothariji commented on #106
Hi @AmeyaJain-25 , First of all, thank you so much for taking out the time to create this issue. 🚀

Definitely🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

[2021-04-09 11:52] kothariji commented on #106
Yesss, even I feel the same. 😄

[2021-04-09 11:56] kothariji commented on #96
Sure

Sorry @AmeyaJain-25 , we have already in touch with @amaan-ahmad for this issue. 🙏

[2021-04-09 11:57] kothariji commented on #96
Done 🚀

[2021-04-09 12:39] anhushree commented on #50
@kothariji  I have submitted the PR, kindly check

[2021-04-09 13:44] AmeyaJain-25 opened #109 "Converting alert to toast message"
**Is your feature request related to a problem? Please describe.**
When we refresh the page, name get's undefined or empty and hence it gives an alert of enter your name.
So, instead of alert, we can use a toast message of showing the name not found.

![Screenshot from 2021-04-09 19-08-42](https://user-images.githubusercontent.com/66305085/114189334-b7d80180-9967-11eb-8615-22ab6ec75e2f.png)

**Des

[2021-04-09 13:59] lakshita15 commented on #81
Please assign the labels for the level

[2021-04-09 14:07] Lavcodes commented on #35
[This](https://replit.com/site/multiplayer) looks great. I was looking for some implementation details on this [blog](https://blog.replit.com/multi) and their github. I was not able to find out implementation code. Could you help with that

[2021-04-09 14:09] Lavcodes commented on #98
Yes, I would like to work on this issue. Please assign it to me

[2021-04-09 15:31] ankitaugale23 commented on #46
I will make a PR till Sunday at 9 pm. Is that fine? And I apologize for being inactive in the communication but I will for sure make my PR this Sunday.

[2021-04-09 17:41] amaan-ahmad commented on #96
Thanks @kothariji

See you in the PR thread soon. ✌

[2021-04-09 18:21] amaan-ahmad commented on #96
@kothariji  is there any already built function that returns the extension for the selected language?
Asking because I was about to make one for the download feature need, so I just thought once I should ask before reinventing things.

[2021-04-10 05:17] nishant23122000 opened #110 "Move Socket Outside"
**Describe the bug**
I think we should move all socket.io code outside of index.js in the backend because there is a bunch of socket.io events happening in index.js.

**To Reproduce**

**Expected result**
We can create an object of the socket in the socket.js file which we store in Utils folder So I think it's easy to understand index.js code and also code will be refactored in proper structure

*

[2021-04-10 06:40] kothariji commented on #81
Done, please share a basic animation design/prototype for the same

[2021-04-10 06:43] kothariji commented on #98
Great @Lavcodes, we are assigning this issue to you. 🔥
Also, the 3rd issue - **Input and emoji picker alignment could be better.** - is already resolved. So you can work on other points.

[2021-04-10 06:45] Vishv07 commented on #110
Your point seems realistic. @nishant23122000 this will help us in extending the socket in the future @kothariji

[2021-04-10 06:46] kothariji commented on #46
No issues @ankitaugale23, but please share a basic design /prototype for the same. So that if there are changes we can do that in early stage, and once we finalized the design, we are good to go for code.

[2021-04-10 07:03] nishant23122000 commented on #110
@Vishv07  Yes

[2021-04-10 07:18] #106 closed

[2021-04-10 07:36] amaan-ahmad commented on #96
@kothariji NVM, I created a utility function to get extension name by language code. and successfully implemented this feature. doing a PR shortly.

[2021-04-10 07:42] AmeyaJain-25 opened #111 "Changing the Language tab to the extension of file uploaded."
**Is your feature request related to a problem? Please describe.**
If we upload a file of extension eg .py, then the code appears in the block but the language tab is not changed.

**Describe the solution you'd like**
I would like to change the language tab also once the code uploaded file is having the extension of that particular file.

**Are you willing to contribute to this issue?** [Yes/No]
Y

[2021-04-10 08:03] Nishant127 commented on #109
Hi @AmeyaJain-25, First of all, thank you so much for taking out the time to create this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-04-10 08:03] kothariji commented on #96
Great @amaan-ahmad , we will try to review the PR asap.

[2021-04-10 08:06] Nishant127 commented on #111
Hi @AmeyaJain-25, First of all, thank you so much for taking out the time to create this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-04-10 12:38] kothariji commented on #110
Hi @nishant23122000 , First of all, thank you so much for taking out the time to work on this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-04-10 12:52] kothariji commented on #37
Another cool thing triggered in my mind.
We can add a small music player below SyntaxPad. Share your views on this 🙌

[2021-04-10 12:56] jainaayush01 opened #113 "about page creator link to be cursor: pointer"
**Describe the bug**
about page creator link to cursor: pointer

**To Reproduce**
Clear steps describing how to reproduce the issue.
1. Go to about tab

Yes, I am willing to work on this issue

[2021-04-10 13:05] jainaayush01 opened #114 "Bug: Two same messages from same person"
**Describe the bug**
Describe the issue that you're seeing clearly.

**To Reproduce**
Clear steps describing how to reproduce the issue.
1. Go to App
2. Create a room and join with more than 2 persons
3. Type message from them and see the error

This behavior is not observed until 2 persons are there but after more than 2 person this type of behaviour is seen

**Expected result**
One Message to be

[2021-04-10 13:08] jainaayush01 opened #115 "Message from the person should be as shown as blue and from other person it should be shown as grey"
**Describe the bug**
Message from the person should be as shown as blue and from other person it should be shown as grey

**To Reproduce**
Clear steps describing how to reproduce the issue.
1. Go to Chat
2. Type messages

**Expected result**
Message from the person should be as shown as blue and from other person it should be shown as grey

**Actual result**
First Person is in blue others in grey

[2021-04-10 17:30] lakshita15 commented on #81
https://codepen.io/ritchiejacobs/pen/qEJjBM
https://codepen.io/hilwat/pen/BeemVX
https://codepen.io/davidicus/pen/emgQKJ
Plss have a look at these and tell which one you'd like to have

[2021-04-11 04:45] kothariji opened #118 "Simplify SyntaxEditor Footer 📂 🛠️"
**Describe the bug**
Currently, the syntaxEditor Footer is too crowded. So we need to change the UI for the same.

**To Reproduce**
Clear steps describing how to reproduce the issue.
1. Go to 'https://syntaxmeets.vercel.app/'
2. Click on 'Create/Join Room'
3. Scroll down to view SyntaxEditor Footer

**Screenshots**
![image](https://user-images.githubusercontent.com/60866749/114292800-dbf22a80-9aae

[2021-04-11 05:44] kothariji commented on #115
@jainaayush01 I think its working the same way you mentioned. The messages from sender is in blue, and when received from others its in grey.

Can you please elaborate.

[2021-04-11 05:52] Akash-Salvi commented on #113
Hi @jainaayush01, First of all, thank you so much for taking out the time to create this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-04-11 05:53] Vishv07 commented on #114
@Nishant127 Would you like to investigate why this problem is occurring?

[2021-04-11 07:20] AmeyaJain-25 opened #119 "Error message Snackbar on uploading photos instead of code"
**Describe the bug**
Alert is showing while there is an error of uploading photo instead of code file.
That's the reason the alert should be converted to Alert or Snackbar.

**To Reproduce**
Clear steps describing how to reproduce the issue.
1. Go to 'Room'
2. Click on 'Upload file'
3. Upload an 'Image'
4. See error

**Expected result**
Snackbar should be opened.

**Actual result**
alert is shown.

[2021-04-11 07:51] amaan-ahmad commented on #118
@kothariji You can assign this issue to me, I am willing to optimize the footer design as per our discussion from issue #112

[2021-04-11 09:53] ankitaugale23 commented on #46
I didn't quite get what should I send you as a prototype/design? (Animation video of the same effects but for these 3 cards) that's what should I send or I am misinterpreting it? Please let me know. @kothariji

[2021-04-11 10:18] kothariji commented on #118
@amaan-ahmad sure, I will send you a prototype design for the same. And if you feel like you can do that, I will assign it to you 🙌

[2021-04-11 11:22] #50 closed

[2021-04-11 11:31] kothariji commented on #46
Yes,a actually a basic canva design would also work. I just want to see, how final presentation would look like 😊

[2021-04-11 11:33] kothariji commented on #23
ok @Nishant127 , we will open this issue for all

[2021-04-11 11:35] kothariji commented on #35
Yes, actually we are also doing research on the same. I'll get something, I will definitely share it with you 🙌

[2021-04-11 12:05] jainaayush01 commented on #115
I have shared some screenshots in issue #114 where you can see that on all the different tabs The first user to post comments is in blue and others are in grey. I haven't named each screen but if you will try to regenerate you will get the idea.

If you still aren't clear please let me know, i will generate more screenshots

[2021-04-11 12:06] jainaayush01 commented on #115
![image](https://user-images.githubusercontent.com/54480934/114303566-5d1be280-9aec-11eb-88d5-1c41768acd38.png)
See Two Different person but same kind of colors.

[2021-04-11 12:07] kothariji commented on #115
@jainaayush01 actually this type of behavior is possible when you are working on the same browser because then local storage for all will be the same. So try with different browsers or incognito, and let me know if the issue still remains

[2021-04-11 12:18] jainaayush01 commented on #115
Okay, i understand now as I also don't see a way to fix this by code, and also it doesn't remain the same and also I think this also closes #114 because I tried this again, and not happening now.

[2021-04-11 12:21] jainaayush01 commented on #114
@Vishv07 I tried this on the same browser so that may be a cause for this happening. And when i tried this on a different browser i didn't find such happenings.

[2021-04-11 12:28] kothariji commented on #115
Yes exactly... So you can close the issues🙌

[2021-04-11 12:59] nishant23122000 commented on #114
Hello @Vishv07 , @jainaayush01  the issue is listening to the event more than one times when the user reloads the page because the event trigger more than 2 times,
Please go through this problem statement,
https://stackoverflow.com/questions/52138337/socket-io-makes-multiple-connections-when-the-page-is-refreshed-node-js

[2021-04-11 13:34] #115 closed

[2021-04-11 14:04] amaan-ahmad commented on #118
Sure @kothariji
Do send me design once ready. I am up for doing it also do check PR #112
I've provided a updated footer pic there.

[2021-04-12 05:04] ShubhamSj07 opened #121 "Customization Of Scrollbar"
**Is your feature request related to a problem? Please describe.**
Default Scrollbar is not looking perfect with ui, i would like to modify it

Default
![Default](https://user-images.githubusercontent.com/56510414/114342921-6fdcf880-9b7a-11eb-8063-9c71e77e61f8.JPG)

Customized
![Customized](https://user-images.githubusercontent.com/56510414/114342929-753a4300-9b7a-11eb-8512-140c4158b918.JPG)

**Ar

[2021-04-12 05:06] amaan-ahmad opened #122 "🚀[FEAT: ] Keyboard shortcuts for better UX."
**Is your feature request related to a problem? Please describe.**
When coding inflow, we usually don't prefer to leave our keyboard and use the mouse to do some repetitive action. Hence for the betterment of user experience let's introduce short-cut keys for various commands such as Run, download file, copy, etc.

**Describe the solution you'd like**
The solution is pretty easy with implementing

[2021-04-12 06:56] Vishv07 commented on #121
Niceeee @ShubhamSj07

[2021-04-12 12:29] #96 closed

[2021-04-12 13:44] Akash-Salvi commented on #119
Hi @AmeyaJain-25, First of all, thank you so much for taking out the time to create this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-04-12 13:45] Akash-Salvi commented on #121
It looks great 🔥

[2021-04-12 13:46] Akash-Salvi commented on #121
Hey @ShubhamSj07, First of all, thank you so much for taking out the time to create this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-04-12 13:53] Akash-Salvi commented on #122
Hi @amaan-ahmad, First of all, thank you so much for taking out the time to create this issue.

Definitely, the short-cut keys will help to improve user experience 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-04-12 14:03] amaan-ahmad commented on #122
Thanks @Akash-Salvi ✌💯

[2021-04-12 14:12] amaan-ahmad commented on #87
hey, guys, @kothariji @Akash-Salvi
I need a suggestion about where to keep the toggle button for focus mode?

[2021-04-12 19:31] SalmaFarghaly commented on #118
Hello @kothariji , I would like to work on this issue. If there is no one working on it, Can you assign it to me ?

[2021-04-13 15:10] SnehaVeerakumar commented on #118
I am interested to do this. Kindly assign me to proceed.
If assigned 3 days of time is needed to complete this issue.

[2021-04-13 15:19] ankitaugale23 commented on #46
Sure. I will share it with you today in some time. @kothariji

[2021-04-13 17:24] amaan-ahmad commented on #118
Hey @kothariji is there any update about this issue?

[2021-04-13 18:25] SnehaVeerakumar commented on #118
I would like to complete this issue.

[2021-04-14 04:15] Vishv07 commented on #26
Started working on this @kothariji

[2021-04-14 08:06] #114 closed

[2021-04-14 09:00] amaan-ahmad commented on #23
hey, @kothariji I am up for taking this issue if none else is working on it.
I see it's inactive for about a month.

[2021-04-14 11:17] ankitaugale23 commented on #46
Here are the canva designs. [https://drive.google.com/drive/folders/1BFSZTZLORMEEqdTBohHp0IdHUt6mDzvI?usp=sharing](url)
Let me know what do you think and if any changes you want.
One thing I would like to mention is that the cards will be revealed vertically as we don't have much space horizontally.
@kothariji

[2021-04-14 11:23] Nishant127 commented on #23
Hi @amaan-ahmad, First of all, thank you so much for taking out the time to work on this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-04-14 11:51] #109 closed

[2021-04-14 11:54] #111 closed

[2021-04-14 12:04] #121 closed

[2021-04-14 12:10] #113 closed

[2021-04-15 06:06] amaan-ahmad commented on #23
Thanks @Nishant127

[2021-04-15 06:49] #87 closed

[2021-04-16 06:26] #119 closed

[2021-04-17 05:12] anhushree commented on #49
Is there anything to be done on the UI improvement part? Kindly let me know @kothariji

[2021-04-18 05:24] #69 closed

[2021-04-18 12:57] arbazalam01 commented on #118
can i work on this issue

[2021-04-18 18:42] budhirajamadhav commented on #18
Hi @kothariji can I have this issue assigned to me? I would love to work on it, seems like being a beginner I can learn very well while working on it. Yes, it can take me time as I haven't done it before, but there's always a first time.

[2021-04-21 16:20] kothariji commented on #46
Hi @ankitaugale23 I saw the design, but somewhere I don't feel that there is a real need for it.
![image](https://user-images.githubusercontent.com/60866749/115587329-30857900-a2eb-11eb-9d5f-718d92417268.png)

According to UX, only names with big pictures will not look pretty.
I hope you understand 🙌

[2021-04-21 16:21] kothariji commented on #46
#### Hi @ankitaugale23 I saw the design, but somewhere I don't feel that there is a real need for it.
![image](https://user-images.githubusercontent.com/60866749/115587829-bacddd00-a2eb-11eb-8c41-8d58337bec51.png)

According to UX, only names with big pictures will not look pretty.
I hope you understand 🙌

[2021-04-22 16:54] ankitaugale23 commented on #46
I understand. I will work on different issues no problem.
Thanks for considering my idea though!

[2021-04-22 16:54] #46 closed

[2021-04-22 17:03] kothariji commented on #46
Thank you, sorry for the inconvenience caused 🙌

[2021-04-23 05:18] sandra9711 commented on #18
Hi, @kothariji  I would like to work on this issue. I have experience in firebase auth.

[2021-04-26 06:25] subhangi2731 commented on #18
please assign me this issue

[2021-04-26 06:25] subhangi2731 commented on #45
please assign me this

[2021-04-26 06:26] subhangi2731 commented on #34
please assign me this . I will make a pr by today

[2021-04-26 06:26] subhangi2731 commented on #37
please assign me this

[2021-05-01 04:23] subhangi2731 commented on #118
please assign me this

[2021-05-01 04:24] subhangi2731 commented on #21
assign me this please

[2021-05-01 04:30] subhangi2731 commented on #81
please assign me this I will make a pr by today

[2021-05-01 14:09] Nishant127 commented on #34
Sorry @subhangi2731, currently the issue is on hold.

[2021-05-01 14:11] Nishant127 commented on #18
Sorry guys, currently the issue is on hold.

[2021-05-01 14:11] Nishant127 commented on #21
Sorry @subhangi2731, currently the issue is on hold.

[2021-05-04 15:12] anirudhsai20 opened #128 "Readme file enhancement"
The Readme file can be enhanced by adding a list of all the Open Source progarms in which this project was listed in.

[2021-05-04 15:13] anirudhsai20 commented on #128
Hi! Please assign this issue to me under GSSOC.

[2021-05-04 21:24] Furquan712 commented on #81
I would like to work on this, will you assign me?

[2021-05-04 21:25] Furquan712 commented on #118
I would like to work on this, will you assign me?

[2021-05-04 21:25] Furquan712 commented on #91
I would like to work on this, will you assign me?

[2021-05-04 21:26] Furquan712 commented on #56
I would like to work on this, will you assign me?

[2021-05-04 21:26] Furquan712 commented on #37
I would like to work on this, will you assign me?

[2021-05-04 21:26] Furquan712 commented on #18
I would like to work on this, will you assign me?

[2021-05-05 04:36] vrii14 commented on #37
@kothariji I apologize for not contributing or giving an update. Had some personal issues. I can start working on this in a day or two or if you want to assign it to someone else that's okay too.

[2021-05-06 12:27] kothariji commented on #128
Hi @anirudhsai20, as of now the project is listed under GSSOC only. So I don't think there is a need of adding a single entry as of now, but yes in future, when the project goes to various other competitions, we can think of adding it.
Thanks

[2021-05-10 04:10] subhangi2731 commented on #20
@kothariji can I please work on this issue?

[2021-05-10 04:18] subhangi2731 commented on #118
@kothariji will you assign me please this issue? This issue is to be worked right?

[2021-05-10 04:38] subhangi2731 commented on #45
@kothariji ??

[2021-05-10 13:47] kothariji commented on #18
@Furquan712
Sorry, currently the issue is on hold.

[2021-05-10 13:48] kothariji commented on #20
@lopeselio, any updates? otherwise, we have to assign this issue to @subhangi2731

[2021-05-10 13:51] kothariji commented on #23
@amaan-ahmad, any updates ?

[2021-05-10 13:55] kothariji commented on #45
Hey @subhangi2731, before assigning this issue to you, can you please tell me, which algorithm are you going to use for conflict resolution, also what workflow are you going to follow, and implementation details about frontend / backend.

[2021-05-10 13:56] kothariji commented on #49
actually we are not in any plans for changing it, so let's keep that on hold, and once we feel like changing , we will definitely inform you :raised_hands:

[2021-05-10 14:00] kothariji commented on #91
Sorry guys, but currently this issue is on hold.

[2021-05-10 14:01] kothariji commented on #98
@Lavcodes any updates ?

[2021-05-10 14:02] kothariji commented on #101
@dsnehasish74  any updates ?

[2021-05-10 14:06] kothariji commented on #81
@lakshita15, we really appreciate your dedication and hard work towards our project, but somehow we don't feel like currently there is a need to add a hover effect over the buttons, as the current look is much minimalist and decent.

Sorry for the inconvenience caused.

[2021-05-10 14:06] #81 closed

[2021-05-10 14:07] kothariji commented on #122
any updates @amaan-ahmad ?

[2021-05-10 14:07] #128 closed

[2021-05-10 14:55] subhangi2731 commented on #45
I need to read the code more of the project then I will share u implementation details of frontend/backend

[2021-05-10 15:42] vrii14 commented on #37
@kothariji
Hi, so I haven't used canva earlier so I wasn't sure why was the golden border not appearing on all the sides. But basically this could be the dsign.
The quote will be randomly fetched from [this](https://zenquotes.io/) API along with pre-formatted HTML and author, And the HAPPY CODING! will be static.The quote can be updated in a fixed amount of time with some CSS transition.
I could a

[2021-05-11 05:59] subhangi2731 commented on #20
and what about this? @kothariji

[2021-05-11 07:10] AyushShri commented on #74
Thanks for coming forward to solve this issue. Please go forward to work on it.

Also for my interest, I would like to know the implementation methodology that you might derive to solve this issue before raising a PR. I'll be delighted to learn about your working approach.
Happy Contributing!

[2021-05-11 14:54] vrii14 commented on #37
If it's going to use Spotify API would something like this work?
![music](https://user-images.githubusercontent.com/56122560/117836948-a5b6ef00-b296-11eb-8d91-ab7a71d3a7ea.png)

[2021-05-12 05:34] AmeyaJain-25 opened #129 "Footer buttons information"
**Is your feature request related to a problem? Please describe.**
If a user enters the room, then he/she may not know the functionality of the footer buttons and which is not a good user experience.
![WhatsApp Image 2021-04-29 at 10 01 26 AM](https://user-images.githubusercontent.com/66305085/117923462-ae004000-b311-11eb-97e8-4fc2fd985734.jpeg)

**Describe the solution you'd like**
We can add too

[2021-05-12 10:07] kothariji commented on #129
Hi @AmeyaJain-25, First of all, thank you so much for taking out the time to create this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-05-12 10:09] kothariji commented on #37
Yes, something like that, we can fetch songs by any OPEN SOURCE API.

[2021-05-12 10:10] kothariji commented on #37
@vrii14, awesome ✨  this is exactly, what we are trying to achieve. Though there would be some design changes. I'll send you a prototype design once I discuss it with the team. 🙌

[2021-05-12 16:10] vrii14 commented on #37
Okay sure!

[2021-05-14 07:58] garvitgupta13 opened #131 "Diable empty messages"
**Describe the bug**
Currently anyone can send empty messages in the chat box
**To Reproduce**
Clear steps describing how to reproduce the issue.
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected result**
What should happen?

**Actual result**
It should not send any empty messages

**Screenshots**
![image](https://user-images.githubusercontent.com/70805691/1182401

[2021-05-14 11:48] #129 closed

[2021-05-14 12:25] Akash-Salvi commented on #131
Hi @garvitgupta13, First of all, thank you so much for taking out the time to create this issue.

Definitely 🙌, Please go forward to work on this issue. I am assigning this Issue to you 👍

And last but not least,
Keep Contributing 🙏🔥

[2021-05-14 13:46] garvitgupta13 commented on #131
Hey @Akash-Salvi can you please let me know where can I get me `REACT_APP_ONLINE_JUDGE_API` key

[2021-05-14 17:46] Lavcodes commented on #98
Hey sorry about the late response will just complete the pr ASAP

[2021-05-14 18:35] umbridge opened #133 "Fullscreen Mode"
**Describe the bug**
to exit fullscreen, there should be exitfullscreen icon

**To Reproduce**
Clear steps describing how to reproduce the issue.
1. Go to 'https://syntaxmeets.vercel.app'
2. Click on 'fullscreen icon in syntax editor'
3. Error : exitfullscreen icon not present

**Expected result**
![image](https://user-images.githubusercontent.com/44002678/118313706-c5594c00-b510-11eb-9aa5-dadf05c

[2021-05-14 18:47] AyushShri commented on #133
Hi @umbridge , First of all, thank you so much for taking out the time to work on this issue #133.
Definitely , Please go forward to work on this issue. I am assigning this Issue to you +1

Also Its really great that you noticed such a bit of a thing which deserves appreciation.
I think we can go forward with it @kothariji . Also @kothariji , you can review the issue!
Happy Contributing @umbridge

[2021-05-14 18:54] umbridge commented on #133
Thank you @AyushShri !!

[2021-05-14 18:55] AyushShri commented on #131
It's a Rapid Api online Judge. Here is the [API Ref](https://rapidapi.com/judge0-official/api/judge0-ce). You can register and get your credentials.
happy Contributing !

[2021-05-14 18:57] garvitgupta13 commented on #131
Please review my PR

[2021-05-14 19:15] kothariji commented on #133
@AyushShri Yes definitely we can go forward with this issue, thanks for the take-up.

@umbridge I have assigned the issue to you, feel free to work on this issue 🚀

[2021-05-14 19:24] kothariji commented on #98
Yupp No issues 🙌

[2021-05-15 06:01] #131 closed

[2021-05-15 08:36] kumarishalini6 opened #134 "Improving About us page"
**Is your feature request related to a problem? Please describe.**
The about us page's card is too simple I want to add some shadow and hover effect, and also want to add some effects on social media icons
![SyntaxMeets - Personal - Microsoft​ Edge 5_15_2021 02_02_33 PM](https://user-images.githubusercontent.com/69043944/118354031-90032d00-b515-11eb-8d42-d9e38e43f8d2.png)

[2021-05-15 08:38] kumarishalini6 commented on #134
I want to work on this issue under GSSoC;21 , please assign issue to me.

[2021-05-16 06:44] Akash-Salvi commented on #134
Hi @kumarishalini6, First of all, thank you so much for taking out the time to create this issue.

However, currently, we don't feel that there is a real need for changes to the about us page.

Thank you, sorry for the inconvenience caused 🙌

[2021-05-16 06:45] kumarishalini6 commented on #134
It's ok ,please close the issue

[2021-05-16 06:51] kumarishalini6 commented on #134
it's ok

[2021-05-16 06:51] #134 closed

[2021-05-16 18:52] umbridge commented on #133
Thank You @AyushShri  and @kothariji for giving me an opportunity to contribute in this project.
The issue is resolved and PR has been created. Please check and let me if any modifications required.

[2021-05-17 08:28] kothariji commented on #37
@vrii14
![image](https://user-images.githubusercontent.com/60866749/118457837-cb6d4980-b717-11eb-9d23-724375ef9b5f.png)
or any other 3rd party npm library would work great.
please let me know about the same 🙌

[2021-05-20 14:15] vrii14 commented on #37
@kothariji Sure I'll look into some npm libraries and let you know.
And actually, I am in the middle of end semester exams so there was a delay in seeing this.

[2021-05-20 16:37] srishtij2000 commented on #98
Can I work on this issue?

[2021-05-20 19:18] kothariji commented on #133
Thank you so much 🙌 😊

[2021-05-20 19:18] #133 closed

[2021-05-21 10:58] kothariji commented on #37
No hurries @vrii14, you can contribute after the exams. Also, all the best for the exams 🙌

[2021-05-24 12:54] vrii14 commented on #37
Thanks, @kothariji.
I found these two npm libraries useful and interesting. You can look through them
[react-jinke-music-player](https://www.npmjs.com/package/react-jinke-music-player)
[react-audio-player](https://www.npmjs.com/package/react-audio-player)

[2021-05-25 03:43] Kumud-869231165 commented on #122
can I work on this

[2021-05-25 05:08] tanishq-arya commented on #118
@kothariji Can i work on this. Please assign me this issue.

[2021-05-25 11:55] amaan-ahmad commented on #122
hey @kothariji, I am really apologetic, I was really caught up in my internship. Will continue working on it and make a PR in a day or two. Again apologies 🙏

[2021-05-26 13:26] kothariji commented on #37
@vrii14 I think react-jinke-music-player will do the job. what say?

[2021-05-27 05:33] vrii14 commented on #37
@kothariji Cool, I'll give it a shot as soon as I am done with my exams

[2021-05-27 05:46] kothariji commented on #37
sure @vrii14 👍✨

[2021-05-28 03:22] subhangi2731 commented on #74
@kothariji Access to fetch at 'https://pastebin.com/login' from origin 'http://localhost:3000/' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource. If an opaque response serves your needs, set the request's mode to 'no-cors' to fetch the resource with CORS disabled.

please reply and help me what should I do

[2021-05-29 06:49] AmeyaJain-25 opened #138 "Creators Card in About page not aligned"
**Describe the bug**
The Cards in about page are too close and gets more disturbed if screen size shrinks.

**To Reproduce**
Clear steps describing how to reproduce the issue.
1. Go to 'Syntaxmeets'
2. Go inside the room
3. Click on About Us
4. See error

**Expected result**
The cards should be aligned properly.

**Actual result**
The cards aren't aligned in small screen sizes

**Screenshots**
![W

[2021-05-29 08:59] kothariji commented on #138
Sure, please go ahead @AmeyaJain-25, I am assigning this issue to you

[2021-05-29 09:01] kothariji commented on #122
Hey, no issues @amaan-ahmad ...... Sure 🙌

[2021-05-29 11:33] AmeyaJain-25 opened #139 "Notification message for new messages"
**Is your feature request related to a problem? Please describe.**
When user messages in the chat. The other should know that message has arrived. So, this feature can be added.

**Describe the solution you'd like**
Showing a notification type message

**Are you willing to contribute to this issue?** [Yes/No]
Yes

[2021-05-29 11:38] AmeyaJain-25 opened #140 "About Us launches from differently"
**Is your feature request related to a problem? Please describe.**
The Navbar About Us launches a Modal while the one from the footer launches it to another page.

**Describe the solution you'd like**
Make all in to the modal

**Are you willing to contribute to this issue?** [Yes/No]
Yes

[2021-05-29 11:42] AmeyaJain-25 opened #141 "Back/Close Button to the About Us"
**Is your feature request related to a problem? Please describe.**
There is no Back/Close button to the about us modal

**Describe the solution you'd like**
Add a Back/Close button somewhat like this.
![WhatsApp Image 2021-05-29 at 2 37 02 PM](https://user-images.githubusercontent.com/66305085/120068967-f1dc9e80-c0a0-11eb-984b-8a4bd8ee5c3f.jpeg)

**Are you willing to contribute to this issue?** [Y

[2021-05-29 11:47] AmeyaJain-25 opened #142 "Room Id text and button gets shrinked and disturbs the navbar"
**Describe the bug**
The Copy room id button is not looking good in small screen sizes. In sizes less than 1060px

**To Reproduce**
Clear steps describing how to reproduce the issue.
1. Go to 'Syntax Room'
2. Reduce the screen size less than 1060px
3. See error

**Expected result**
It should either decrease it's size or else it can wrap the text and show 3 dots(Eg: RoomId: asq....), so that it wil

[2021-05-29 12:19] Akash-Salvi commented on #142
Sure, please go ahead @AmeyaJain-25 , I am assigning this issue to you

[2021-05-29 12:21] Akash-Salvi commented on #141
Sure, please go ahead @AmeyaJain-25 , I am assigning this issue to you

[2021-05-29 12:21] Akash-Salvi commented on #140
Sure, please go ahead @AmeyaJain-25, I am assigning this issue to you

[2021-05-29 12:22] Akash-Salvi commented on #139
Sure, please go ahead @AmeyaJain-25, I am assigning this issue to you

[2021-05-29 15:19] #139 closed

[2021-05-29 16:42] #140 closed

[2021-05-29 16:44] #138 closed

[2021-05-29 17:26] #141 closed

[2021-05-29 19:09] #142 closed

[2021-05-30 09:02] kothariji commented on #118
⚠️⚠️⚠️ THIS ISSUE IS CURRENTLY ON HOLD  ⚠️⚠️⚠️

[2021-05-30 10:25] #74 closed

[2021-05-30 11:07] AmeyaJain-25 opened #148 "Share Code modal like google meet."
**Is your feature request related to a problem? Please describe.**
The share code modal can be modified.

**Describe the solution you'd like**
Currently like this.
![Screenshot from 2021-05-30 16-35-23](https://user-images.githubusercontent.com/66305085/120101751-33cf1880-c165-11eb-95c0-7b14b349f1d9.png)
Can be made llike this with feature of adding copy link too.
![Gmeet](https://user-images.gith

[2021-05-30 13:56] kothariji commented on #148
Sure @AmeyaJain-25 . Please go ahead. I am assigning this issue to you

[2021-05-30 15:01] #148 closed

[2021-05-31 18:17] AmeyaJain-25 opened #150 "Room id hidden"
**Describe the bug**
Room id is hidden.

**Expected result**
It should be visible complete.

**Actual result**
It got wrapped in ellipsis. And alert also.

**Screenshots**
![Screenshot from 2021-05-31 23-44-05](https://user-images.githubusercontent.com/66305085/120229348-93fbb280-c26a-11eb-98fd-1eebb5465235.png)

**Are you willing to contribute to this issue?** [Yes/No]
Yes

[2021-05-31 18:23] Akash-Salvi commented on #150
Sure, please go ahead @AmeyaJain-25 , I am assigning this issue to you

[2021-05-31 18:30] #150 closed

[2021-05-31 18:42] AmeyaJain-25 opened #153 "Message Notification contains large data"
**Describe the bug**
Larger messages are sent in notification snackbar.

**Expected result**
Limited words to be sent.

**Screenshots**
![Screenshot from 2021-05-31 23-53-10](https://user-images.githubusercontent.com/66305085/120230936-f73b1400-c26d-11eb-9125-9f9d549d5998.png)

**Are you willing to contribute to this issue?** [Yes/No]
Yes

[2021-06-01 17:51] #153 closed

[2021-08-18 08:03] PATELKULDEEP commented on #18
Hello sir, I would like to work in this issue. Is it open?